@import "../../mixins/*"

.intro
  padding-top: 30px
  margin-bottom: 100px
  position: relative

  &__content
    @extend %narrow-content-width
    padding-bottom: $gutter-width
    position: relative
    // z-index: 2

  &__title
    text-align: center
    font-weight: $font-bold
    font-size: 3.2rem
    margin-top: 10px
    margin-bottom: 30px

    @include tablet-or-larger
      font-size: 3.5rem

    @include desktop
      font-size: 4.5rem

  &__subtitle
    text-align: center
    font-weight: $font-semibold
    font-size: 2.5rem
    margin-bottom: 30px
    padding-top: 30px

    @include tablet-or-larger
      font-size: 3rem

    @include desktop
      font-size: 3.5rem

  &__button-wrapper
    .button
      display: block
      width: 250px
      font-size: 2rem
      font-weight: $font-bold
      padding: 20px 0
      margin: auto

.intro__explanation-wrapper
  // max-height: 200px
  // transition: max-height 0.8s ease
  // overflow: hidden
  margin-bottom: 15px

.intro__explanation
  max-width: 500px
  margin: auto
  margin-bottom: 30px
  padding: 10px 10px
  line-height: 2
  font-weight: $font-medium
  text-align: center

.intro__gradient
  display: block
  position: relative

  &:before
    top: -20px
    bottom: -20px
    width: 50%
    z-index: 1

.divider--leaf-up
  margin-bottom: 2em

.divider--leaf-down
  margin-top: 2em
