@import "../../mixins/*"

// ===== SINGLE TREATMENT PAGE ===== //
.treatment__media
  @extend %wide-content-width
  max-width: $desktop-content-width
  margin: auto

  @include laptop-or-larger
    padding-right: 100px

  > *
    width: 400px
    max-width: 100%
    margin: auto

    @include tablet-or-larger
      float: right
      margin-bottom: 2 * $gutter-width
      margin-left: 2 * $gutter-width
      width: 350px

    @include laptop-or-larger
      width: 400px

// ===== TREATMENTS INDEX PAGE ===== //
.treatments__list
  @extend %wide-content-width

.treatments__splash
  padding-top: 30px
  margin-bottom: 100px
  position: relative

  @include tablet-or-larger
    padding-top: 80px

  &__title
    text-align: center
    font-weight: $font-normal
    font-size: 2.6rem
    margin-top: 10px
    margin-bottom: 30px

    @include desktop
      font-size: 3.5rem

  &__subtitle
    text-align: center
    font-weight: $font-bold
    font-size: 3.5rem
    letter-spacing: 1.5px
    margin-bottom: 50px

    @include desktop
      font-size: 4.5rem

  &__subtitle abbr
    text-decoration: underline dashed
    cursor: pointer

    &:after
      content: '?'
      vertical-align: super
      font-size: 50%
      text-decoration: none

  &__skip
    text-align: center
    margin-top: 60px

    @include tablet-or-larger
      margin-bottom: 60px

    span
      @include mobile
        display: block
        margin-bottom: 12px

    a:not(:hover)
      color: $color-text-normal
      border-bottom: 1px dashed $color-text-normal

    a, i.icon
      margin-left: 6px

  &__content
    @extend %wide-content-width
    position: relative
    z-index: 1

  &__gradient
    display: block

  &__gradient:before
    top: 0
    bottom: -60px
    width: 50%
    z-index: 1

// CONTENT
.treatments
  &__content-wrapper
    @extend %wide-content-width
    margin-top: 70px
    margin-bottom: 70px

    @include tablet-or-larger
      margin-top: 250px
      margin-bottom: 300px

  &__content
    max-width: 640px

    @include tablet
      padding-right: $gutter-width

    @include laptop-or-larger
      padding: 0 $gutter-width

    @include widescreen
      margin-left: 200px

  &__triangle
    margin-top: 100px

    @include mobile
      display: none

// ===== SPLASH IMAGE ===== //
.treatments__splash__image
  margin-top: -28%

  &__foreground
    @include overlay
    top: auto
    z-index: 1

  img
    width: 100%

    @include mobile
      min-height: 350px

.treatments__splash__gradient
  @include tablet
    display: block !important

.treatments__splash__gradient:before
  top: 0
  bottom: -40px
  width: 50%
  z-index: 1

  @include tablet-or-larger
    bottom: -120px
