@import "../../../mixins/*"

section.type-video
  margin-bottom: $section-margin-thin

  .wrapper-outer.for-sidetext
    height: 165px

    @include tablet-or-larger
      height: 205px

  .sidetext
    @include mobile
      font-size: 3rem
      letter-spacing: 1.85px
      right: $gutter-width + 58px

    @include tablet
      font-size: 3.25rem
      letter-spacing: 4px
      right: $gutter-width + 76px

    @include laptop-or-larger
      right: 42px
