@import "../../../mixins/vars"

body.static-page.static-page-contact
  .header
    position: absolute
    top: 0
    left: 0
    right: 0

  // Hide the default title for this page
  main > .banner
    display: none

  section:not(:last-child)
    margin-bottom: 2.5vh

  section.type-special.format-local-contacts
    margin-top: 80px

    .contacts
      &-title
        font-size: 2.75em
        font-weight: $font-light
        letter-spacing: 1px

      &-item
        text-align: left
        margin: 0

        > img
          margin: 0
          margin-bottom: 3em
          width: 240px

    .carousel
      margin-top: 84px
      max-width: 1154px
