@import "../../mixins/*"

/* CALL TO ACTION FOOTER
  Various pages have a large call to action block just above the footer.
  */

.action-footer
  position: relative
  text-align: center
  margin-bottom: 112px

  .top-left.sidetext
    color: $color-text-dark
    top: 41px
    padding-top: 26px
    font-size: 2.8rem

    @include tablet-or-larger
      top: 338px
      font-size: 3.5rem

  &-title
    color: $color-text-dark
    font-weight: $font-medium
    font-size: 2.8rem
    line-height: 5.5rem
    margin-bottom: 16px

    @include tablet-or-larger
      margin-top: 10%
      margin-bottom: 30px
      font-size: 3.2rem

    @include laptop
      font-size: 4rem

    @include desktop
      font-size: 4.5rem

  &-subtitle
    font-size: 2.2rem
    line-height: 1.3636
    margin-bottom: 64px

    @include tablet-or-larger
      font-size: 2.8rem
      line-height: 1.5
      letter-spacing: 0.49px

    @include laptop
      font-size: 3rem

    @include desktop
      font-size: 3.5rem

  &-item
    display: block
    margin-bottom: 47px
    color: $color-text-dark
    transition: all 0.5s ease

    @include tablet-or-larger
      display: inline-block
      width: 250px

    @include laptop
      width: 320px

    @include desktop
      width: 400px

    @include widescreen
      width: 520px

    &:hover > *
      color: $color-text-orange

    > i.icon
      font-size: 6.6rem
      margin-bottom: 10px

      @include tablet-or-larger
        font-size: 10rem
        margin-bottom: 24px

      @include desktop
        font-size: 11.6rem
        margin-bottom: 34px

    &-title
      font-weight: $font-semibold
      font-size: 2.2rem
      line-height: 1.3636
      letter-spacing: 0.41px

      @include tablet
        font-size: 2rem

      @include laptop-or-larger
        font-size: 2.4rem

  // === WRAPPERS === //
  &-lead.wrapper-outer
    @include tablet-or-larger
      position: absolute
      top: 0
      left: 0
      right: 0
      z-index: 1
      max-width: 80%

  &-wrapper.wrapper-outer
    @include responsive-background('footer/together', 'png')
    background-position: center
    background-size: cover

    max-height: 1300px
    height: 82.75vh
    padding-left: 35%
    padding-right: 17%
    padding-top: 24px

    @include tablet-or-larger
      height: 100vh
      max-width: none
      padding: 0
      padding-top: 410px

    @include laptop
      padding-top: 320px

  // Add a gradient to the left side of the view
  &-wrapper:before
    content: ''
    display: block

    position: absolute
    top: 0
    bottom: 0
    left: 0
    z-index: 0

    width: 22.6667%
    margin-bottom: -65px
    //background: linear-gradient(to right, transparentize(#C5E0DC, 0.88), transparentize(#C5E0DC, 0.01))
    @include gradient(to right, $color-gradient-blue)

    @include tablet-or-larger
      width: 37.5%
