
= f.input :name

- url = record.new_record? ? "/#{polymorphic_path(record.class)}/*" : polymorphic_path(record)
- url = url.gsub(%r{\/[^\/]*\/?$}, '/') # Strip the last element from the url

= f.input :slug do
= content_tag :div, class: 'ui labeled slug input' do
  = tag.div CGI.unescape(url), class: 'ui basic label'
  = f.input_field :slug
