
= f.input :image, as: :file, wrapper: :ui_file_input, icon: file_type_icon(:image), file: record.image, input_html: { accept: file_type_accepts(:image) }
= f.input :horizontal_vimeo_id, wrapper: :ui_input, icon: :video
= f.input :vertical_vimeo_id, wrapper: :ui_input, icon: :video
= f.association :duration_filter
= f.association :goal_filters
