
= f.input :image, as: :file, wrapper: :ui_file_input, icon: file_type_icon(:image), file: record.image, input_html: { accept: file_type_accepts(:image) }
= f.input :video, as: :file, wrapper: :ui_file_input, icon: file_type_icon(:video), file: record.video, input_html: { accept: file_type_accepts(:video) }
= f.association :duration_filter
= f.association :goal_filters
