
- if %w[regional_admin super_admin].include?(current_user.role)
  = f.association :owner, collection: User.writer, hint: translate('admin.hints.article_owner'), input_html: { class: 'clearable' }
- elsif current_user.writer? && record.new_record?
  = f.hidden_field :owner_id, value: current_user.id
