
= f.input :name
= f.association :artist, input_html: { class: 'clearable' }
= f.input :audio, as: :file, wrapper: :semantic_file, icon: file_type_icon(:audio), file: record.audio, input_html: { accept: file_type_accepts(:audio) }
= f.association :mood_filters
= f.association :instrument_filters
