
= f.input :thumbnail, wrapper: :ui_file_input, icon: :image, file: record.thumbnail
= f.input :excerpt, as: :text, input_html: { rows: 2 }
= f.input :horizontal_vimeo_id, wrapper: :ui_input, icon: :video
= f.input :vertical_vimeo_id, wrapper: :ui_input, icon: :video
= f.input :content, as: :rich_text, input_html: { rows: 3 }
