
= f.input :title, wrapper_html: { class: 'sub' }

= f.fields_for :extra, f.object do |ff|
  = ff.input :treatment_ids, collection: Treatment.all.map{|t| [t.name, t.id.to_s]}, selected: f.object.extra_attr('treatment_ids'), input_html: { multiple: true }, wrapper_html: { class: 'sub' }, required: false, disabled: !allow.update_structure?
  = render 'admin/sections/decoration_fields', f: ff, collection: [:sidetext]
