@import "../../../mixins/vars"

section.type-image.format-gallery
  .grid
    &-item, &-sizer
      width: 33%
      padding: 2px
      margin: 0

      @include mobile
        width: 100%
        padding: 0
        margin-bottom: 1em

  .filter-group
    justify-content: center
    margin-left: 3px

  .filter-button
    font-size: 0.875em
    line-height: 1em
    padding: 1.5em 2em
    min-width: 175px
    color: $color-text-dark

    &.initial, &.active
      display: none
