@import "../../mixins/*"

/* CALLOUT
  In various parts of the website we will have a paragraph with some extra content inserted on the side.
  This file defines styles for these "callouts", which are intended to highlight parts of the content.
  */

.callout
  float: right
  max-width: 400px
  width: 100%
  margin-top: 15px
  margin-bottom: 45px

  @include mobile
    float: none
    max-width: none
    margin-left: 0

  @include tablet-or-larger
    margin-left: 50px

  @include laptop-or-larger
    margin-right: -130px

  // For an image-based callout
  &.image
    float: left
    margin: 16px 0

    @include tablet-or-larger
      margin-top: 40px
      margin-bottom: 40px
      margin-right: 50px
      margin-left: -130px

  // For a text-based callout
  &.text
    position: relative
    padding: 32px 0

    > p
      font-weight: $font-semibold
      font-size: 1.6rem
      line-height: 1.625
      letter-spacing: 0.2px
      color: $color-text-dark
      margin: 0

    &:after
      content: ''
      position: absolute
      left: 50%
      top: 0
      bottom: 0
      right: 0

      z-index: -1
      @include gradient(to left, $color-gradient-blue)

      @include tablet-or-larger
        left: 20%
