@import "../../mixins/*"

/* CAROUSEL
  A carousel is a slideshow of content. One or more items are shown at a time,
  with arrows to scroll to the next item.

  Most of the basic styling for these carousels is defined by the Slick library that we are using.
  */

.carousel
  width: 100%
  margin: auto
  text-align: center

// We use the Slick library to implement our carousel,
// some adjustments to the default styling are needed.
.slick
  &-arrow
    transition: all 0.5s ease
    z-index: 10

    &:before
      color: $color-text-normal
      font-family: $wemeditate-icons
      font-size: 24px
      opacity: 1

  &-prev
    left: 0

    &:before
      content: $icon-arrow-left

  &-next
    right: 0

    &:before
      content: $icon-arrow-right

  &-dots
    li
      margin: 0 1px

    li button:before
      font-size: 6px

    li.slick-active button:before
      font-size: 8px
      color: $color-text-blue


// ===== VIDEO CAROUSEL ===== //
// Adjustments for a carousel which only shows videos.
.video.carousel
  @include tablet-or-smaller
    max-width: 100%

  .slick
    &-list
      overflow: hidden

    &-slide
      opacity: 0.5

      &:not(.slick-active)
        .video-button
          opacity: 0
          visibility: hidden

    &-dots
      position: static
      margin: 1px

    &-active
      opacity: 1

    &-arrow
      background: #999
      width: 64px
      height: 64px
      margin-top: -60px

      @include laptop-or-larger
        width: 60px
        height: 60px

      &.slick-prev
        margin-left: 6px

        @include laptop-or-larger
          margin-left: -11px + $gutter-width

      &.slick-next
        margin-right: 6px

        @include laptop-or-larger
          margin-right: -11px + $gutter-width

      &::before
        color: white

        &:hover
          background: gray

  .video
    &-title
      font-weight: $font-bold
      font-size: 2.4rem
      line-height: 1.3
      letter-spacing: 0.25px

      text-align: left
      margin-top: 24px
      margin-bottom: 0
      padding: 0 ($gutter-width / 2)

      @include laptop-or-larger
        padding: 0

      @include desktop
        margin-top: 36px

    &-preview
      background-size: cover
      background-position: center center
      height: 327px

      @include tablet
        height: 440px

      @include laptop
        height: 385px

      @include desktop
        height: 420px

      img
        opacity: 0
