@import "../../mixins/*"

.contacts
  &-title
    font-size: 2em
    margin-bottom: 1em
    text-align: center

  &-subtitle
    font-size: 1.2em
    margin-bottom: 2em
    text-align: center
    font-weight: $font-normal

  &-item
    padding: 0 15px

    &-image
      display: block
      width: 180px
      margin-bottom: 3em

    &-title
      font-weight: $font-bold
      color: $color-text-darker
      line-height: 1.5em
      font-size: 1.2em
      margin-bottom: 0.5em

    &-location
      margin-bottom: 1em

    &-text
      line-height: 1.9em
      margin-bottom: 3.5em
