@import "../../mixins/*"

/* IMAGE
  Most images are styled by their containing element, depending on where they are in the site.
  But there are a few simple site-wide styles for image related content.
  */

.image
  &.with-decoration.circle:before
    position: absolute
    left: 64.6%
    bottom: 14%
    z-index: 10

    width: 460px
    height: 460px
    margin-left: -230px
    margin-bottom: -230px

    @include desktop
      left: 60.5%

    @include widescreen
      left: 61.2%

  &-credit
    @extend %generic-credit

  img
    display: inline-block
    width: 60%
    min-width: 220px

    @include tablet-or-larger
      max-height: 560px
      width: auto

    @include laptop
      max-height: 684px

    @include desktop
      max-height: 800px
