@import "../../mixins/*"

/* SIDETEXT
  Many blocks throughout the site use a faded all caps title on the side of the screen.
  This file defines styling for these so called "sidetexts"
  */

/*.sidetext
  @extend %generic-sidetext

  &.top-left
    transform-origin: top right
    right: 100%
    padding-top: 36px

    @include laptop-or-larger
      top: 15px
      padding-top: 15px

  &.top-right
    transform-origin: top right
    right: ($gutter-width * 2) + 21px

    @include tablet
      right: ($gutter-width * 2) + 48px

    @include laptop-or-larger
      top: 15px
      right: ($gutter-width * 2) + 12px

  &.bottom-left
    transform-origin: top left
    top: 100%
    left: $gutter-width + 14px

  &.bottom-right
    transform-origin: top left
    top: 100%
    left: 100%
    margin-left: -($gutter-width * 2)*/
