@import "../../mixins/*"

.splash
  height: 100vh
  min-height: 100vh
  max-height: 1024px
  text-align: center

  &-background
    @include overlay
    z-index: -1
    background-repeat: no-repeat
    background-position: center
    background-size: cover

  &-title
    font-size: 3rem
    line-height: 1.1667
    letter-spacing: 0.8px
    margin: auto

    @include tablet-or-larger
      font-size: 4.5rem
      line-height: 1.2222

  &-subtitle
    font-weight: $font-normal
    font-size: 2.2rem
    line-height: 1.1364
    letter-spacing: 0.69px

    width: 100%
    margin: auto

  &-action
    display: flex
    align-items: center
    justify-content: center

    font-weight: $font-medium
    font-size: 3rem
    line-height: 1.0333
    letter-spacing: normal

    @include pulse-animation

  &-action-text
    width: 150px

  &-action-leaf
    width: 1.7217em

    &:first-child
      transform: rotate(90deg) scaleX(-1) scaleY(-1)

    &:last-child
      transform: rotate(-90deg) scaleY(-1)

    path
      fill: $color-graphic-normal

  .button-circle
    @include mobile
      width: 200px
      height: 200px

  .button-circle-text
    font-weight: $font-medium
    font-size: 2.4rem

    @include tablet-or-larger
      font-size: 3rem


// ===== STANDARD STYLING ===== //
.splash.style-standard .splash
  padding-top: 28vh

  @include tablet-or-larger
    padding-top: 40vh

  @include laptop-or-larger
    min-height: 370px
    padding-top: 43.5vh

  @include desktop
    padding-top: 430px

  @include widescreen
    min-height: 730px

  &-title
    margin-bottom: 10vh
    font-weight: $font-normal

    @include tablet-or-larger
      font-size: 4.5rem
      line-height: 1.2222
      max-width: 500px
      margin-bottom: 4.5vh

    @include laptop
      margin-bottom: 5vh

    @include desktop
      margin-bottom: 40px

  &-subtitle
    max-width: 225px
    margin-bottom: 12vh

    @include tablet-or-larger
      max-width: 360px
      font-size: 2.4rem
      line-height: 1.5
      margin-bottom: 14vh

    @include laptop
      margin-bottom: 10vh

    @include desktop
      margin-bottom: 80px


// ===== ALTERNATE STYLING ===== //
.splash.style-alternate
  min-height: 0
  height: 125vh
  padding-top: 35px

  @include tablet-or-larger
    margin-top: 74px
    padding-top: 6.5vh
    max-height: 1346px

.splash.style-alternate .splash
  &-background
    background-position: bottom center

  &-background.mobile-visible
    position: static

  &-subtitle
    line-height: 1.41
    max-width: 250px
    margin-bottom: 24px

    @include tablet-or-larger
      max-width: none
      font-size: 3.5rem

  &-title
    font-size: 2.8rem
    line-height: 1.1786
    letter-spacing: 0.93px
    margin-bottom: 46px

    @include tablet-or-larger
      font-size: 4.5rem
      latter-spacing: 1.5px

  &-background.mobile-visible
    height: 100vw
    margin: 0 -$gutter-width
    margin-top: -100px


// ===== INVERTED COLOURS FOR A DARK BACKGROUND IMAGE ===== //
.inverse.splash .splash
  &-title, &-subtitle, &-action
    color: $color-text-inverse

  &-action-leaf path
    fill: $color-text-inverse
