@import "../../mixins/*"

/* AFTERGLOW
  We are using the afterglow library to play video content.
  */

// ===== LIGHT SKIN ADJUSTMENTS ===== //
body .video-js.vjs-afterglow-skin
  background: white

  .vjs-tech
    background: white

  .vjs-top-control-bar .vjs-button
    background: $color-player-light

  .vjs-control-bar *
    color: $color-text-darker

// ===== POSTER IMAGE ===== //
body .video-js.vjs-afterglow-skin
  .vjs-poster
    opacity: 1
    background-color: white

  .vjs-loading-spinner
    border-color: $color-player-light
    border-top-color: black

  .vjs-big-play-button
    @include video-button
    position: absolute
    transition: border-color 0.5s ease
    border-radius: 0 !important

    &:before
      content: ''

  // Restore a CSS property that is being overridden by @include video-button
  &.vjs-has-started .vjs-big-play-button
      display: none !important

// ===== PLAYER CONTROLS ===== //
body .video-js.vjs-afterglow-skin
  // Seek bar
  .vjs-control-bar
    background-color: white

  .vjs-control-bar .vjs-progress-control .vjs-progress-holder
    .vjs-load-progress
      background-color: $color-player

    // Color the progress bar with WeMeditate blue
    /*.vjs-play-progress
      background-color: $color-player-blue
      box-shadow: 0 0 5px transparentize($color-player-blue, 0.4)
      */

  // Play/pause butto
  .vjs-play-control:before
    font-family: $font-icons
    content: $icon-play
    font-size: 18px

    @media (max-width: 512px) // This is an Afterglow breakpoint
      font-size: 14px !important

  &.vjs-playing .vjs-play-control:before
    content: $icon-pause

  // Time displays
  .vjs-current-time
    margin-left: 0 !important

  .vjs-duration
    margin-right: 0 !important

// ===== VOLUME CONTROL ===== //
body .video-js.vjs-afterglow-skin
  .vjs-volume-menu-button,
  .vjs-mute-control
    &:before
      font-family: $font-icons
      content: $icon-volume !important
    
    &.vjs-vol-0:before
      content: $icon-volume-muted !important

  .vjs-volume-bar
    border-radius: 0

  .vjs-control-bar .vjs-volume-bar .vjs-volume-level
    height: 5px
    border-radius: 0
    // Color the volume bar with WeMeditate blue
    //background-color: $color-player-blue

  .vjs-volume-menu-button .vjs-menu-content
    @media (max-width: 768px)
      top: -4px

// ===== ADJUSTMENTS ===== //
// Hide fullscreen control on ios, where the native player has it's own fullscreen control.
.afterglow--ios
  .vjs-fullscreen-control
    display: none

// Hide the volume control for meditations.
.video--meditation
  .vjs-volume-menu-button
    display: none

// Override the default styling which hides the big play button,
// so that we can still see the play button on smaller screens when paused.
@include tablet-or-smaller
  body .video-js.vjs-afterglow-skin
    &.vjs-has-started .vjs-big-play-button
      display: block !important
      opacity: 1

    &.vjs-playing .vjs-big-play-button
      display: none !important
      opacity: 0
