@import "../../../mixins/functions"
@import "../../../mixins/vars"

section.type-special.format-banner
  text-align: center

  .background
    position: absolute
    top: 0
    bottom: 0
    right: 0
    left: 0
    z-index: -1

  .content
    height: 100vh
    max-height: 985px

  .style-city-page,
  .style-front-page,
  .style-contact-page
    padding-top: 215px
    padding-bottom: 134px

    display: flex
    flex-direction: column
    justify-content: center

    .static-page-home &
      padding: 0
      .container
        transform: translateY(30%)
        @include mobile
          transform: translateY(0%)

      @include mobile
        padding: 0

    h1
      font-family: $raleway
      margin-bottom: 1em

    h2
      font-family: $raleway-medium

    .action
      font-size: 1.8em
      position: absolute
      bottom: 82px
      left: 0
      right: 0

  .style-city-page,
  .style-front-page
    &.inverse *
      color: $color-text-inverse

  .style-contact-page
    &.inverse > .container > *:not(.content-box)
      color: $color-text-inverse

  .style-front-page
    min-height: 100vh
    height: 560px
    margin: 0

    h1, h2
      max-width: 440px
      margin-left: auto
      margin-right: auto

      @include mobile
        max-width: 90%

    h1
      margin-top: 0
      margin-bottom: 1em
      padding: 0 5%

      font-size: 2.5em
      font-family: $raleway
      font-weight: 400
      line-height: 1.4em

    h2
      font-size: 1.5em
      font-family: $raleway-medium
      font-weight: 500
      line-height: 1.5em

      padding: 0 10%
      max-width: 380px
      margin-bottom: 22%

      @include mobile
        max-width: 300px

      //@include desktop
      //  margin-bottom: 23%

    .action
      position: static
      display: flex
      align-items: center
      justify-content: center
      letter-spacing: -1px
      @include pulse-animation

      > *
        display: inline-block
        font-size: 1.05em
        font-family: $raleway-medium
        font-weight: 500

      svg
        width: 47px
        margin: 0 22px

        path
          fill: white

      svg:first-child
        transform: rotate(90deg) scaleX(-1) scaleY(-1)

      svg:last-child
        transform: rotate(-90deg) scaleY(-1)


    @include mobile
      padding: 0

      h1
        font-size: 1.875em
        line-height: 1.2em
        margin-bottom: 7vh

      h2
        font-size: 1.25em
        line-height: 1.3em
        margin-bottom: 12vh


  .style-treatments-page
    min-height: 1210px
    margin-bottom: -15vh

    .background
      background-position: bottom center

    h1
      margin: 0
      margin-bottom: 60px
      line-height: 1.75em
      font-size: 2.75em

    h2
      margin: 0
      padding-top: 68px
      margin-bottom: 15px
      font-family: $raleway
      color: $color-text-normal

    @include mobile
      min-height: 1100px
      margin-bottom: -40vw

      h1
        font-size: 1.875em
        margin-bottom: 0

      .circle.button
        width: 180px
        height: 180px
        margin-top: 25px

        .text
          font-size: 1.25em

  .style-city-page
    padding-bottom: 0

    .container
      height: 100%

    h1
      font-size: 2.75em
      font-family: $raleway
      font-weight: 200

    h2
      margin-top: 0
      font-family: $raleway
      font-weight: 200
      line-height: 1.5em
      letter-spacing: 0.5px

    .action
      bottom: 78px
      font-weight: 300
      letter-spacing: 1px

      img
        display: block
        margin: auto
        margin-top: 40px

  .style-contact-page
    h1
      font-size: 2.5em
      font-family: $raleway-medium
      line-height: 1.9em
      letter-spacing: 3px
      margin: 1em

    .content-box
      background: white
      max-width: 720px
      padding: 50px 106px
      text-align: left

      h2
        margin-top: 0

      input, select, textarea
        font-size: 1em
        margin-bottom: 2em

      textarea
        padding-bottom: 0.2em

      .button
        font-size: 1em
        margin-top: 50px
        color: $color-text-dark
        border-color: $color-text-dark
