@import "../../../mixins/vars"

section.type-special.format-featured-meditations
  padding: 43px 0 20px
  margin-bottom: 0

  @include desktop-or-smaller
    padding-top: 30px

  @include tablet
    padding-top: 20px

  @include mobile
    padding-top: 5px

  > .container
    display: flex
    justify-content: flex-start
    padding: 0

  .carousel
    text-align: left
    max-width: none

  .meditation
    display: inline-block
    width: 33.33%
    padding: 0 15px
    margin-bottom: 18px

    @include desktop-lg
      margin-bottom: 37px

    @include desktop-or-smaller
      margin-bottom: 25px

    @include tablet-or-smaller
      margin-bottom: 20px

    @include mobile
      margin-bottom: 0

    .header
      font-size: 1.88em
      font-family: $raleway
      font-weight: normal
      white-space: nowrap
      overflow: hidden
      text-overflow: ellipsis
      margin: 5px 0 20px

      @include desktop-lg
        font-size: 2.1875em
        margin-bottom: 28px

      @include desktop-or-smaller
        font-size: 1.625em

      @include tablet-or-smaller
        font-size: 1.37em
        margin-bottom: 10px

      @include mobile
        font-size: 1.38em
        margin-top: 8px

    .title
      font-size: 1.25em
      margin: 7px 0 3px

      @include desktop-lg
        font-size: 1.5em
        margin: 20px 0 10px

      @include desktop-or-smaller
        font-size: 1.125em

      @include laptop
        margin: 7px 0 3px

      @include tablet-or-smaller
        font-size: 1.1em

      @include mobile
        margin: 3px 0
        font-size: 1.1em

    p
      margin-top: 0
      font-size: 1em
      line-height: 1.5em

      @include desktop-lg
        font-size: 1.125em
        line-height: 1.7em

      @include desktop-or-smaller
        font-size: 0.875em

      @include mobile
        font-size: 0.81em

    .video-preview
      display: block
      padding-top: 57%
      position: relative
      overflow: hidden
      background-size: cover
      margin-bottom: 20px

      @include desktop-lg
        margin-bottom: 25px

      @include desktop-or-smaller
        margin-bottom: 18px

      @include tablet-or-smaller
        margin-bottom: 13px

      @include mobile
        margin-bottom: 20px

    .video.button
      width: 110px
      height: 110px
      padding: 22px

      @include  desktop
        width: 148px
        height: 148px
        padding: 32px

      @include  mobile
        width: 100px
        height: 100px

  .slick-arrow
    display: none !important

  .slick-dots
    bottom: 0
    margin: 0

    li,
    li button,
    li button:before
      width: 10px
      height: 10px

    li
      button
        &::before
          opacity: 0.5
          font-size: 6px

      &.slick-active button::before
        opacity: 1
        color: $color-text-blue