@import "../../../mixins/vars"

section.type-special.format-local-contacts
  text-align: center

  h2
    font-size: 2em
    margin-bottom: 1em

  p
    font-size: 1.2em
    margin-bottom: 2em

  .contact
    img
      width: 180px

    .title
      font-family: $raleway
      color: $color-text-darker
      line-height: 3.2em
      font-size: 1.2em
