@import "../../../mixins/vars"

section.type-special.format-treatments
  .treatments.wrapper
    margin-bottom: 212px

    article
      display: flex
      padding: 0 55px

      &:not(:first-child)
        margin-top: 212px

      .content
        margin-top: 0
        display: flex
        flex-direction: column
        justify-content: center

        .title
          margin-bottom: 0.5em
          line-height: 1.2em
          letter-spacing: 1px

        p
          font-size: 1em
          line-height: 1.7em

        > *:last-child
          margin-bottom: 0

      .image
        position: relative

        img
          max-width: none
          margin: 0

        .video.button
          position: absolute
          bottom: -75px
          right: -85px

      &.reverse
        padding: 0 28px

        .content
          margin-left: 72px

        .video.button
          left: -75px
          right: auto

    article::after
      display: none

  .filters
    text-align: center
    margin-left: 3px

    a.initial, a.active
      display: none
