@import "../../../mixins/vars"

section.type-special.format-venue-map
  .city.map
    height: 90vh
    margin-left: 30%

  .content
    display: flex
    flex-direction: column
    justify-content: center

    position: absolute
    left: 30%
    top: 10%
    bottom: 2%

  .content-box
    background: white
    padding: 65px
    max-width: 460px
    max-height: 88%
    margin-left: -300px
    overflow: hidden
    z-index: 10000
