@import "../../mixins/*"

$top-padding: 120px

.content__textbox--wisdom
  @include laptop-or-larger
    background-image: image-url('content/ancient-wisdom.jpg')
    background-size: cover
    background-position: center
    padding-top: $top-padding
    padding-bottom: 50px
    z-index: 0 // This is necessary to make the content__textbox__graphic visible

// ===== CONTENT ===== //
.content__textbox--wisdom .content__textbox
  &__box_wrapper
    @include tablet
      max-width: $narrow-content-width
      margin: auto

  &__graphic
    display: none

    @include laptop-or-larger
      display: block
      position: absolute
      top: -$top-padding
      right: 0
      transform: translate(42%, -15.75%)
      height: 85%
      width: 85%
      max-width: 1000px
      z-index: -1

  &__image
    margin-bottom: 36px

    @include laptop-or-larger
      margin-top: 154px
      margin-bottom: 54px

  &__img
    @include laptop-or-larger
      height: 80vh

  &__img img
    max-width: 100%

  &__title
    font-size: 2.4rem
    
    @include laptop-or-larger
      position: absolute
      margin: 0
      font-weight: $font-normal
      font-size: 3.5rem

  &__text > p:first-child
    margin-top: 0

// ===== ALIGNED ===== //
.content__textbox--wisdom.content__textbox
  @each $side in left right
    $opposite: right !default
    @if $side == right
      $opposite: left

    &--#{$side}
      .content__textbox__title
        @include laptop-or-larger
          float: $opposite

      .content__textbox__text
        @include tablet
          margin-#{$side}: 36px

        @include laptop-or-larger
          padding-#{$side}: 60px
          padding-#{$opposite}: 30%

      .content__textbox__image
        margin-#{$opposite}: -$gutter-width

        @include tablet-or-larger
          float: $opposite
          margin-#{$side}: 54px
          margin-#{$opposite}: 0
