@import "../../mixins/*"

.content__video
  @extend %wide-content-width
  position: relative
  margin-top: 80px
  margin-bottom: 80px

.content__video__sidetext
  position: relative

.content__video__title
  @include tablet-or-larger
    font-weight: $font-bold
    font-size: 2.8rem
    line-height: 1.25
    letter-spacing: 0.25px
    margin-bottom: 60px

// ===== SINGLE VIDEO ===== //
.content__video--single
  .content__video__item
    max-width: 660px
    margin: 0 auto

  .content__video__title
    @include laptop-or-larger
      display: none

  .content__video__sidetext
    display: none

    @include laptop-or-larger
      display: block


// ===== VIDEO GALLERY ===== //
// TODO: This reference to .gradient shouldn't be allowed.
.content__video--gallery .gradient
  @include tablet-or-smaller
    display: block
