
@mixin overlay($top, $bottom, $left, $right)
  position: absolute
  top: $top
  bottom: $bottom
  left: $left
  right: $right

@mixin triangle-size($size)
  bottom: -108px * $size
  width: 284px * $size
  height: 250px * $size

@mixin font-face($font-family, $file-path, $weight: normal, $style: normal )
  @font-face
    font-family: $font-family
    font-weight: $weight
    font-style: $style

    src: font-url('#{$file-path}.eot')
    src: font-url('#{$file-path}.eot?#iefix') format('embedded-opentype'), font-url('#{$file-path}.woff') format('woff'), font-url('#{$file-path}.ttf') format('truetype')

@mixin pulse-animation
  animation: pulse 2s infinite


@keyframes pulse
  from
    transform: scale3d(1, 1, 1)
  50%
    transform: scale3d(1.05, 1.05, 1.05)
  to
    transform: scale3d(1, 1, 1)
