
$futura-book: "futura-book", sans-serif

$raleway: "raleway", sans-serif
$raleway-bold: "raleway-bold", sans-serif
$raleway-medium: "raleway-medium", sans-serif
$raleway-semi: "raleway-semi", sans-serif

$mobile-width: 320px
$tablet-width: 768px
$laptop-width: 1024px
$desktop-width: 1366px

$dark-gray: #7b7b7b
$gray: #d7d7d6
$light-gray: #9d9d9c
$blue: #c5e0dc
$light-blue: #ebf4f3
$orange: #e08e79
$gray-d: #dcdcdc

$color-text-dark: #7b7b7b
$color-text-normal: #9d9d9c
$color-text-light: #c6c6c6
$color-text-lighter: #d7d7d6
$color-text-inverse: white
$color-text-orange: #e08e79
$color-text-blue: #c5e0dc

$background-gray: #f6f6f6
$background-gray-divider: #e8e8e8
$background-blue: #c5e0dc

$wemeditate-icons: 'wemeditate-icons'
$icon-breadcrumb: '\e906'
$icon-meditation: '\e909'
$icon-location: '\e914'
$icon-computer: '\e90f'
$icon-facebook: '\e902'
$icon-instagram: '\e903'
$icon-vk: '\e904'
