@import "../../mixins/functions"
@import "../../mixins/vars"

body.articles-show
  section.intro
    margin-bottom: 0

  nav.chapters
    height: 74px
    margin-bottom: 74px

    .container
      position: relative
      display: flex

      z-index: 35
      height: 74px

      background: white

    &.sticky .container
      position: fixed
      left: 0
      right: 0

      @include tablet-or-smaller
        .item:not(.active)
          display: none

        .active.item
          display: flex

    @include mobile
      height: 54px
      margin-bottom: 25px

      .container
        height: 54px

    .item
      flex: 1
      display: flex
      align-items: center
      position: relative
      padding: 0 15px
      border-bottom: 1px solid $color-text-normal

      @include tablet
        &:nth-child(n+7)
          display: none

      @include mobile
        &:not(:first-child)
          display: none

      &.active
        .number, .title
          color: $color-text-darker

      .number
        margin-right: 15px
        font-size: 40px
        font-weight: 200
        color: $color-text-light

        @include mobile
          font-size: 35px

      .title
        font-size: 12px
        line-height: 22px
        color: $color-text-light

      .progress
        position: absolute
        bottom: -2px
        left: 0
        height: 3px
        background-color: #8ec2bb
        transition: width 0.1s linear

  .wrapper
    @include mobile
      padding: 0 35px
