@import "../../mixins/vars"

/* CALL TO ACTION FOOTER
  Various pages have a large call to action block just above the footer.
  */

.action-footer
  min-height: 155vh
  background-image: image-url('footer/together.png')
  background-position: center
  background-size: cover
  margin-bottom: 8em
  position: relative

  // Add a gradient to the left side of the view
  &:before
    content: ''
    display: block

    position: absolute
    top: 14%
    bottom: 0
    left: 0
    z-index: 0

    width: 36.5%
    height: 94%
    background: linear-gradient(to right,rgba(255,255,255,.01) 0,rgba(255,255,255,.18) 25%,rgba(197,224,220,.3) 100%)

    @include tablet-or-larger
      top: 0
      height: 108%

  > .wrapper-outer
    text-align: center
    padding-left: 15px
    padding-right: 15px
    padding-bottom: 450px

    @include tablet-or-larger
      padding-left: 0
      padding-right: 0
      padding-top: 240px

  .sidetext
    @include mobile
      width: 1080px
      padding-left: 450px
      font-size: 1.95em
      color: $color-text-normal

  &-title
    font-size: 1.75em
    line-height: 1em
    color: $color-text-dark
    font-weight: $font-medium
    margin-bottom: 1em
    padding: 0 1em

    @include tablet-or-larger
      font-size: 2.9em
      line-height: 1.25em
      margin-bottom: 0
      padding: 0

  &-subtitle
    font-size: 1.5em
    line-height: 1.2em
    color: $color-text-normal
    font-weight: $font-normal

    @include tablet-or-larger
      font-size: 1.75em

  &-wrapper
    display: flex
    justify-content: space-between
    text-align: center
    max-width: 870px
    margin: auto
    margin-top: 144px

    @include mobile
      height: 620px
      margin-top: 85px
      flex-direction: column
      align-items: flex-end

  &-item
    width: 164px

    > *
      color: $color-text-dark
      transition: all 0.5s ease

    &:hover > *
      color: $color-text-orange

    > i.icon
      font-size: 5em
      margin-bottom: 0.15em

      @include tablet-or-larger
        font-size: 4em
        margin-bottom: 0.4em

    &-title
      font-size: 1.1em
      line-height: 1.45em
      font-weight: $font-semibold

      @include tablet-or-larger
        font-size: 1.35em
        line-height: 1.25em
