@import "../../mixins/vars"

/* SOCIAL MEDIA SHARING FOOTER
  Some pages have links just above the footer to share the page on social media.
  */

.sharing-footer
  font-size: 0.75em
  line-height: 1.5em
  margin-bottom: 4rem

  &-title
    display: inline-block
    margin-right: 2.75em

  &-item
    font-size: 1.25em
    margin: 0 0.5em
