@import "../../mixins/vars"

/* FOOTER
  Styling for the site-wide footer which is used at the very bottom of every page.
  */

.footer
  margin-top: 5rem

  a:hover
    color: $color-text-dark

  &-header
    font-weight: $font-semibold
    color: $color-text-normal
    line-height: 1.75em
    margin-bottom: 1px

    @include mobile-portrait
      line-height: 2.3em

  &-sidetext
    color: $color-text-inverse
    letter-spacing: 0
    font-size: 2em
    z-index: 5

  &-columns
    display: flex
    justify-content: space-between
    flex-wrap: wrap
    border-bottom: 1px solid $color-divider-normal
    padding: 0 4%

    @include mobile
      display: block

    @include mobile-landscape
      display: flex

  &-column
    margin-bottom: 66px
    flex: 1 0 25%

    &:last-child
      text-align: right

    @include desktop
      &:nth-child(3)
        padding-left: 80px

    @include mobile
      margin-bottom: 36px
      text-align: center

      //> div
      //  text-align: center

    @include mobile-landscape
      flex: 1 0 25%

      &:not(:last-child)
        text-align: left

      //> div
      //  text-align: left

  &-navigation
    > a
      display: block
      line-height: 2em

      &:not(.footer-header)
        font-size: 0.75em

  &-social
    margin-top: 0.9em

    @include mobile
      font-size: 1.75em
      margin-top: 0.6em

    @include mobile-landscape
      font-size: 1em

    > a
      margin-right: 0.75em
      color: #a0a09f

      @include mobile-portrait
        margin-right: 1.2em

      &:last-child
        margin-right: 0

  &-divider
    display: flex
    align-items: center
    margin-bottom: 35px

    > img
      min-width: 188px
      height: 48px
      margin: 0px 20px

    &:before,
    &:after
      content: ''
      margin-top: -2px
      height: 1px
      width: 100%
      position: relative
      background-color: $color-divider-normal
      display: inline-block

  &-credit
    height: 2.5em

  &-copyright
    text-align: center
    line-height: 110px
    font-size: 12px

