@import "../../mixins/vars"
@import "../../mixins/functions"

// The contents of this file are moved to `front_new/1_layout/header.sass`
// It is expected that this file will be deleted before committing.
/*
  header.header
    position: relative
    min-height: 85px
    z-index: $z-header

    @include desktop
      padding-top: 5px

    *
      transition: all 0.2s ease

  .header-container
    height: auto
    background: white
    z-index: $z-header


  // ===== BANNER ===== //
  .header-banner
    display: flex
    justify-content: space-between
    align-items: flex-end

    position: relative
    font-size: 0.875em
    text-align: center

    height: 138px
    padding: 19px 0
    padding-bottom: 20px
    border-bottom: 1px solid $color-divider-dark

    > a
      color: $color-header-svg
      font-family: $raleway-medium
      text-decoration: none
      font-size: 0.875em
      z-index: 1

    &-logo svg
      width: 60px
      height: 43px
      max-height: 100%

    &-burger
      cursor: pointer

      svg
        height: 100%

    &-logo,
    &-burger
      path
        fill: $color-header-svg

    &-illustration
      position: absolute
      left: 0
      right: 0
      top: 35px
      z-index: 0

      svg
        height: 100px
        max-width: 65%

      path
        stroke: $color-header-svg


  // ===== BAR ===== //
  .header-bar
    display: flex
    justify-content: space-around
    align-items: center
    position: relative

    font-size: 1em
    font-family: $raleway-medium
    border-bottom: 1px solid $color-divider-dark
    z-index: 1

    &-item
      > a
        padding: 0 2rem
        line-height: 2.18rem

        @include desktop
          padding: 0 5.5rem
          line-height: 2.25rem

        &:hover
          color: $color-text-dark

      &:not(:hover):not(:focus) > .header-dropdown:not(:hover)
        max-height: 0

  // ===== DESKTOP BAR ===== //
  .desktop.header-wrap
    .header-bar
      &-icon
        position: absolute
        text-align: center
        top: 0
        bottom: 0
        opacity: 0

      &-icon.logo
        width: 50px
        padding: 9px
        left: 0

        svg
          width: 24.5em
          height: 18px

        path
          stroke-width: 3px
          stroke: $color-text-light

      &-icon.marker
        width: 40px
        padding: 6.2px 0
        right: 0

        svg
          width: 19px
          height: 24px

        path
          fill: $color-text-light

  // ===== MOBILE BAR ===== //
  .mobile.header-wrap
    padding: 0 15px

    .header-bar
      height: 83px
      justify-content: space-between

      &-icon path
        stroke: $color-text-light

      &-icon.logo svg
        height: 34px
        width: 46px

      &-icon.burger svg
        height: 34px
        width: 34px



  // ===== DROPDOWN ===== //
  .header-dropdown
    @include overlay(102%, auto, 0, 0)
    position: absolute
    background: $background-gray
    padding: 0
    z-index: 10
    transition: max-height 0.5s cubic-bezier(.02, .01, .47, 1)
    transition-delay: 0.3s
    overflow: hidden
    max-height: 500px

    &:before
      content: ''
      position: absolute
      top: 0
      right: 0
      height: 100%
      min-height: 380px
      width: 1250px
      max-width: 90%
      background: image-url("header/menu-background.png") no-repeat top right
      background-size: 100% 100%

    &-title,
    &-content
      padding-left: 80px
      padding-right: 20px

      @include desktop
        padding-left: 92px

      @include tablet
        padding-left: 30px

    &-title
      font-size: 1.5em
      color: $color-text-dark
      border-bottom: 1px solid $color-divider-normal
      line-height: 58px
      margin: 0
      position: relative

    &-content
      display: flex
      align-items: flex-start
      justify-content: space-between
      position: relative
      padding-bottom: 18px

    &-list
      flex-shrink: 0
      width: 30%
      margin: 33px 0 20px

      > li > a
        display: block
        margin-bottom: 10px
        line-height: 21px
        font-size: 1.125em
        font-family: $raleway-medium
        color: $color-text-normal

        &:hover
          color: $color-text-blue

  .header-featured
    margin-left: 18px
    flex-grow: 1

    &-wrap
      display: flex
      flex: 1 1 auto
      max-width: 640px

    &-title
      position: absolute
      bottom: 100%
      margin-bottom: 1em
      font-size: 0.75em
      line-height: 1.75em

    a
      position: relative
      display: flex
      justify-content: center
      align-items: flex-start
      overflow: hidden
      background-position: center
      font-family: $raleway-semi
      font-size: 1.125rem
      max-width: 100%

    img
      width: 100%
      height: auto
      display: block

    .overlay:after
      content: ''
      display: block
      position: absolute
      bottom: 16px
      left: 50%
      margin-left: -35.5px

      width: 71px
      height: 16px

      background: image-url('graphics/lotus-decoration.svg') center


  // ===== BREADCRUMBS ===== //
  .header-breadcrumbs
    position: absolute
    margin-top: 2.25em
    font-size: 0.7em
    z-index: 5

    &-item
      display: inline-block

      &:not([href])
        color: black

      &:not(:last-child)::after
        font-family: $wemeditate-icons !important
        content: $icon-breadcrumb
        margin: 0 0.9em
        font-size: 0.5em

  .inverse.header-breadcrumbs .header-breadcrumbs
    &-item
      color: $color-text-lighter

      &:not([href])
        color: $color-text-normal


  // ===== MENU ===== //
  .header-menu
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    text-align: center

    position: fixed
    top: 0
    bottom: 0
    left: 0
    right: 0

    height: 0
    overflow: hidden
    transition: height 0.5s ease
    background: $background-white

    &-item
      width: 100%

      > a
        width: 100%
        font-size: 1.125em
        line-height: 3em
        transition: all 0.3s ease

        &.active
          color: $color-text-darkest

    &-logo
      opacity: 0

    &-burger
      position: relative
      top: 0

      &:before, &:after
        content: ""
        position: absolute
        background-color: #555
        top: 15px
        left: 0
        right: 0
        transition: all .5s ease
        width: 30px
        height: 1px
        margin: 0 auto

      &:before
        transform: rotateZ(.7854rad)

      &:after
        transform: rotateZ(-.7854rad)

      svg
        opacity: 0

  // ===== SUBMENU ===== //
  .header-menu-item.submenu
    > a
      padding-right: 25px
      position: relative

    > a:after
      content: ''
      position: absolute
      display: inline-block
      right: 0
      top: 50%

      width: 8px
      height: 8px

      border-left: 1px solid $color-text-normal
      border-bottom: 1px solid $color-text-normal
      transform: rotate(-45deg)
      margin-top: -7px

    > a:hover
      color: $color-text-light

    > ul
      max-height: 0
      overflow: hidden
      margin: 0

    > ul > li > a
      line-height: 2em

      &:hover
        color: $color-text-normal

    &.expand
      background: linear-gradient(to right,rgba(255,255,255,.01) 0,rgba(255,255,255,.18) 25%,rgba(197,224,220,.3) 100%)

      > a:after
        transform: rotate(135deg)
        margin-top: -4px

      > ul
        max-height: 300px
        margin-bottom: 1em

  // ===== SHOW MENU TWEAKS ===== //
  .header.show-menu .header
    &-menu
      height: 100%

      @include laptop-or-larger
        display: none

    &-bar
      border-bottom: 1px solid transparent

    &-bar-icon.burger
      position: relative
      top: 0

      svg
        opacity: 0

      &:before, &:after
        content: ""
        position: absolute
        background-color: $color-header-svg
        top: 15px
        left: 0
        right: 0
        transition: all 0.5s ease
        width: 30px
        height: 1px
        margin: 0 auto

      &:before
        transform: rotateZ(.7854rad)

      &:after
        transform: rotateZ(-.7854rad)



  // ===== STICKY HEADER ===== //
  .sticky.header
    .mobile .header-bar
      height: 50px

    .header
      &-banner,
      &-breadcrumbs
        display: none !important

      &-container
        position: fixed
        top: 0
        left: 0
        right: 0

      &-bar-icon
        opacity: 1

  // ===== INVERSE HEADER ===== //
  .inverse.header:not(.show-menu) .header
    &-container
      background: transparent

    &-banner > a,
    &-bar-item > a
      color: $color-text-inverse

      &:not(.active):hover
        opacity: 0.75

    &-banner
      border-color: $color-text-inverse

      &-illustration path
        stroke: $color-text-inverse

      &-burger path,
      &-logo path
        fill: $color-text-inverse

    &-bar
      border-color: $color-text-inverse

      &-icon.logo path
        stroke: $color-text-inverse

      &-icon.marker path
        fill: $color-text-inverse

    &-breadcrumbs-item
      color: $color-text-lighter

      &:not([href])
        color: $color-text-normal
  */
