
.content__splash
  text-align: center

  &__wrapper
    @extend %narrow-content-width

  &__title
    font-size: 3rem
    line-height: 1.1667
    letter-spacing: 0.8px
    margin: auto

    @include tablet-or-larger
      font-size: 4.5rem
      line-height: 1.2222

  &__text
    font-weight: $font-normal
    font-size: 2.2rem
    line-height: 1.1364
    letter-spacing: 0.69px

    width: 100%
    margin: auto

// ===== BACKGROUND ===== //
.preloader,
.content__splash
  height: 100vh
  max-height: $max-stream-height
  padding-top: 70px

  text-align: center
  background-repeat: no-repeat
  background-position: center
  background-size: cover

  @include mobile
    min-height: 450px

  @include tablet
    min-height: 540px

  @include laptop-or-larger
    min-height: 700px
    padding-top: 234px

// ===== PLACEHOLDER ===== //
.preloader
  @include overlay
  z-index: 10000
  line-height: 100vh
  text-align: center
  background-color: #5f2f18
  background-blend-mode: multiply
  padding: 0

.preloader__graphic
  display: inline
  max-height: 100px
  object-fit: fill

// ===== INVERTED COLOURS FOR A DARK BACKGROUND IMAGE ===== //
.content__splash[data-invert]
  .content__splash__title,
  .content__splash__text,
  .content__splash__action,
  .content__splash__action__text
    color: $color-text-inverse

  .content__splash__action path
    fill: $color-text-inverse
