
#splash-editor
  width: 650px
  margin-bottom: 50px
  text-align: center

  .cdx-input--button
    border-color: #777777

  .cdx-splash-countdown
    font-family: monospace
    font-size: 2em
    margin: 0.5em

#splash-background
  position: relative
  padding: 100px 0
  margin-bottom: 10px

#splash-background-image
  opacity: 0.4

  position: absolute
  top: 0
  bottom: 0
  left: 0
  right: 0
  z-index: -1

  background-color: gray
  background-size: cover
