@import "../../../mixins/*"

section.type-special.format-custom-meditation
  padding-top: 1px // Force children to offset their margin from the top of the section
  background-size: cover

  /*@include tablet
    background: image-url("meditations/background-tablet.png") no-repeat bottom center
    min-height: 1300px*/

  @include laptop
    background: image-url("meditations/background.jpg") no-repeat bottom center
    min-height: 1400px

  @include desktop
    background: image-url("meditations/background.jpg") no-repeat bottom center
    min-height: 1534px

  @include widescreen
    min-height: 1700px

  .custom-meditation
    &-title
      text-align: center
      font-weight: $font-medium
      font-size: 2.8rem
      line-height: 1.1786
      margin-top: 32px
      margin-bottom: 38px

      @include laptop-or-larger
        font-size: 4.5rem
        line-height: 1.2
        margin-top: 100px
        margin-bottom: 80px

      @include widescreen
        margin-top: 135px
        margin-bottom: 130px

    &-background
      margin-top: 46px
      width: 100%

    &-goal, &-duration
      position: relative

      @include laptop-or-larger
        width: 50%

    &-goal
      @include laptop-or-larger
        float: left
        text-align: right

    &-duration
      @include laptop-or-larger
        float: right
        text-align: left

    &-form
      padding-top: 2px // We use this padding to force children elements to offset their margin from the top of the form instead of overflowing it.

  .dropdown-selection
    @include tablet
      margin: auto
      width: 350px
      display: block
      padding-right: 40px

    @include widescreen
      min-width: 620px

    &.disabled .dropdown-text
      @include mobile
        display: none

  .radio-button
    margin: 0 8px

    @include laptop-or-larger
      margin: 0 12px

    &-wrap
      @include laptop-or-larger
        display: inline-block

    &-group
      text-align: center

      @include widescreen
        text-align: right
        padding-right: 15px

    &-title
      font-size: 2.2rem
      line-height: 1.4091
      margin-top: 30px
      margin-bottom: 26px

      @include tablet
        margin: 60px 0

      @include laptop-or-larger
        font-weight: $font-normal
        font-size: 3.5rem
        line-height: 92px
        display: inline-block
        margin: 0 24px

      @include widescreen
        line-height: 122px
        margin: 0 70px

  .button-circle
    clear: both
    display: block
    margin: auto

    border: none
    width: 242px
    height: 242px
    font-size: 2.4rem
    line-height: 1.25

    margin-top: 60px
    padding: 40px

    @include laptop-or-larger
      width: 292px
      height: 292px
      font-size: 3rem
      line-height: 1.1667
      margin-top: 160px

    @include widescreen
      width: 386px
      height: 386px

  .sidetext
    @include mobile
      display: none

    @include laptop-or-larger
      top: -24px
