@import "../../../mixins/*"

section.type-special.format-try-meditation
  @include laptop-or-larger
    margin-bottom: 220px

  .section-title.mobile-visible
    letter-spacing: 1.6px
    padding-right: 10px
    margin-bottom: 30px

  .realization
    &-image
      width: 60%
      margin-left: -$gutter-width

      @include tablet-or-larger
        float: left
        margin-left: 0

    .button-circle
      height: 520px
      width: 520px
      margin-top: -5px
      margin-left: 10%

      &-text
        font-size: 3rem
        letter-spacing: 0.2px

      svg
        @include mobile
          display: none

  // Added a gradient
  .realization
    &-action-wrapper
      position: relative
      height: 56px

      @include tablet-or-larger
        margin-top: -325px
        height: 405px

    &-action-wrapper:before
      content: ''
      display: block
      z-index: -1

      @include overlay(0, 0, 0, 0)
      @include gradient(to left, $color-gradient-gray)

    &-action-wrapper > .wrapper-outer
      height: 100%

    &-action
      text-align: center
      position: absolute
      left: 60%
      width: 200px
      margin-left: -100px
      margin-top: -64px

      @include tablet-or-larger
        width: auto
        text-align: left

        top: 50%
        margin-top: -110px
        margin-left: -85px

    &-action-title
      display: block
      font-weight: $font-semibold

      @include tablet-or-larger
        display: inline-block
        margin-left: 24px
        font-size: 2.5rem
        line-height: 170px
        vertical-align: bottom

  .video-button
    @include mobile
      width: 98px
      height: 98px
      padding: 8px
