
- content_for :title, "#{Track.model_name.human} - #{MoodFilter.model_name.human(count: -1)}"

= render 'admin/application_resources/sortable_index', model: MoodFilter, resources: @mood_filters, parent: Track
