
= render 'admin/sections/section_subfield', f: f, attribute: :format do
  = f.select :format, Section::IMAGE_FORMATS.map {|k| [human_enum_name(section, :format, k), k]}, {}, { class: 'ui scrolling dropdown', disabled: !allow.update_structure? }

= render 'admin/sections/section_file_subfield', f: f, attribute: :image
= render 'admin/sections/section_subfield', f: f, attribute: :credit
