
= render 'admin/sections/section_subfield', f: f, attribute: :quote
  = f.text_area :quote, rows: 2

= render 'admin/sections/section_subfield', f: f, attribute: :credit
= render 'admin/sections/section_subfield', f: f, attribute: :subtitle
