
= render 'admin/sections/section_subfield', f: f, attribute: :title
= render 'admin/sections/section_file_subfield', f: f, attribute: :video
= render 'admin/sections/section_file_subfield', f: f, attribute: :image
