
- content_for :title, "#{Track.model_name.human} - #{InstrumentFilter.model_name.human(count: -1)}"

= render 'admin/application_resources/sortable_index', model: InstrumentFilter, resources: @instrument_filters
