
- partial = ['sections/type', section.content_type]
- partial << section.format if [:text, :image, :action, :special].include? section.content_type.to_sym

- index = section_counter + 1

/! section #{index}
= render partial.join('/'), section: section, index: index
/! /section #{index}
