
- partial = ['sections/type', section.content_type]
- partial << section.format if [:text, :image, :action].include? section.content_type.to_sym

- index = section_counter + 1

/! section #{index}
section id="section-#{index}" data-section=index 
  = render partial.join('/'), section: section
/! /section #{index}
