
- content_for :title, translate('admin.action.target.edit', target: @record.model_name.human)
= render 'admin/application/form', record: @record

/ TODO: Remove this test code
hr
p: code = @record.inspect
- @record.respond_to?(:translations) && @record.translations.each do |translation|
  p: code = translation.inspect
