
- content_for :title, 'Preview'

= render file: "#{@record.model_name.route_key}/show"

javascript:
  document.addEventListener('ready', function() {
    $('a, button, input, select').on('click', function(event) {
      event.preventDefault()
      event.stopPropagation()
      return false
    }).on('focus', function(event) {
      event.target.blur()
      event.preventDefault()
      event.stopPropagation()
      return false
    }).css('cursor', 'not-allowed')
  })
