
= f.input :images, as: :file, multiple: true, wrapper: :ui_file_input, icon: file_type_icon(:image), files: f.object.images, wrapper_html: { class: 'sub' }, input_html: { accept: file_type_accepts(:image) }
= f.input :title, wrapper_html: { class: 'sub' }
= f.input :text, wrapper_html: { class: 'sub' }
= f.input :action, wrapper_html: { class: 'sub' }
