
= f.input :title, wrapper_html: { class: 'sub' }

= f.fields_for :special do |ff|
  = ff.input :treatments, collection: Treatment.all.map{|t| [t.name, t.id.to_s]}, selected: f.object.special['treatments'], input_html: { multiple: true }, wrapper_html: { class: 'sub' }, required: false, disabled: !allow.update_structure?
