
= render 'admin/application/fields/subfield', f: f, attribute: :video do
  = render 'admin/application/fields/file', f: f, attribute: :video

= render 'admin/application/fields/subfield', f: f, attribute: :action

= render 'admin/application/fields/subfield', f: f, attribute: :title
