
- content_for :title, "#{Meditation.model_name.human} - #{GoalFilter.model_name.human(count: -1)}"

= render 'admin/application_resources/sortable_index', model: GoalFilter, resources: @goal_filters
