@import "../../mixins/*"

// ===== SPLASH SCREEN ===== //
.cb-splash-textbox--app .cb-splash-textbox
  &__action
    font-size: 1.8rem
    line-height: 2.2rem
    letter-spacing: 0.56px
    animation: none

    display: flex
    justify-content: space-evenly
    margin-bottom: 20px

  &__action > *
    display: flex
    flex-direction: column
    align-items: center
    width: 192px
    max-width: 45%
    margin: 20px

  &__divider
    width: 0
    height: 80%
    border-left: 2px solid white

  &__app > a
    width: 100%

    &:hover
      opacity: 0.8
