@import "semantic-ui";

#devise {
  max-width: 400px !important;
  margin: auto;
  margin-top: 2rem;
}

#logo path {
  fill: black;
}

nav {
  position: absolute;
  width: 225px;
  padding: 1.5rem 1rem;
  box-sizing: border-box;
}

main {
  margin-left: 225px;
  padding: 1.5rem 1rem;
  box-sizing: border-box;
  max-width: 900px;
}

h1.ui.header {
  display: table-cell;
  height: 99.54px;
  vertical-align: bottom;
  padding-top: 1rem;
  box-sizing: content-box;
  text-transform: lowercase;
}

content {
  display: block;
  padding-top: 1rem;
}

.ui.form .button {
  margin-top: 2px;
}

.ui.icon.file.input i.icon {
  font-size: 1.21428571em;
}

.ui.vertical.secondary.menu .item:not(.dropdown) > .menu {
  margin: 0.5em -1.14285714em 0em;
}

.clearfix {
  clear: both;
}

.sortable-ghost {
  opacity: 0.4;
}

.sortable .handle {
  cursor: move;
}

.translation_missing {
  background: moccasin;
}
