@import semantic-ui

#devise
  max-width: 400px !important
  margin: auto
  margin-top: 2rem

#logo path
  fill: black

nav
  position: absolute
  width: 225px
  padding: 1.5rem 1rem
  box-sizing: border-box

main
  margin-left: 225px
  padding: 1.5rem 1rem
  padding-bottom: 10%
  box-sizing: border-box
  max-width: 900px

h1.ui.header
  display: table-cell
  height: 99.54px
  vertical-align: bottom
  padding-top: 1rem
  box-sizing: content-box
  text-transform: lowercase

content
  display: block
  padding-top: 1rem

.ui.vertical.secondary.menu .item:not(.dropdown) > .menu
  margin: 0.5em -1.14285714em 0em

.ui.search > .results
  width: auto
  max-width: 80%

.ui.list > .item a.content
  color: inherit

  &:hover
    color: black

.clearfix
  clear: both

.sortable-ghost
  opacity: 0.4

.sortable .handle
  cursor: move

.translation_missing
  background: moccasin

.input + .ui.label,
input + .ui.label,
input + .ui.rounded.image
  margin-top: 2px
  margin-left: 0

.ui.selection
  width: 100%

  &.attachment
    .text > .description
      display: none

.ui.form
  .sub.field
    > label
      text-transform: uppercase
      background-color: #E8E8E8
      border-radius: 0.28571429rem 0.28571429rem 0 0
      font-size: 80%
      margin: 0
      display: inline-block
      padding: 0 0.28571429rem

      + *,
      + * input,
      ~ * .ql-toolbar,
      ~ .dropdown,
      ~ .grouped.fields
        border-top-left-radius: 0
        margin-left: 0
        margin-top: 0

    > .grouped.fields
      border: 1px solid rgba(34, 36, 38, 0.15)
      border-radius: 0.28571429rem
      padding: 0.67857143em 1em

      > *:first-child
        margin-top: 0

  .button
    margin-top: 2px

  .grouped.fields > .inline.fields
    margin-bottom: 0

    > *
      padding-right: 1em

  .field .file.labels
    > .label
      margin: 0

      &:first-child
        border-bottom-left-radius: 0
        border-bottom-right-radius: 0

      &:not(:first-child)
        border-radius: 0
        border-top: none

    + .input input
      border-top: none
      border-top-left-radius: 0
      border-top-right-radius: 0

  .ql-toolbar
    border-top-left-radius: 0.28571429rem
    border-top-right-radius: 0.28571429rem

  .ql-container
    border-bottom-left-radius: 0.28571429rem
    border-bottom-right-radius: 0.28571429rem

  .sub.field .file.labels > .label:first-child
    border-top-left-radius: 0

  .file.field .ui.icon.input i.icon
    font-size: 1.21428571em

  .field-metatags
    input:first-child
      width: 30%

    input:last-child
      width: 70%

  .repeatable.fields
    width: 100%
    margin-left: 0

    .wrapper
      width: 100%

    .row
      position: relative
      padding-right: 1.25em
      margin-bottom: 0.25em
      border-radius: 0.28571429rem
      background: rgba(34, 36, 38, 0.15)

      .remove
        position: absolute
        right: 0
        top: 0
        bottom: 0
        width: 1.25em

        margin: 0
        padding: 0
        padding-top: 0.3em
        border-top-left-radius: 0
        border-bottom-left-radius: 0

        .icon
          margin: 0
          font-size: 0.8em

      .ui.segment
        box-shadow: none
        margin: 0

        label
          opacity: 0.65

    &.horizontal .fields-wrapper
      textarea, input, select, .ui.segment, .ui.dropdown
        display: inline-block

        &:not(:first-child)
          border-radius: 0

        &:not(:last-child)
          border-right: 0

        &:first-child
          border-top-right-radius: 0
          border-bottom-right-radius: 0

        &:focus
          + textarea,
          + input,
          + select
            border-left-color: #85B7D9

    &:not(.horizontal) .fields-wrapper
      textarea, input, select, .ui.segment, .ui.dropdown
        border-top-right-radius: 0
        border-bottom-right-radius: 0

      > textarea,
      > input,
      > select,
      > .ui.segment,
      > .ui.dropdown
        &:not(:last-child)
          border-bottom-left-radius: 0
          border-bottom: 0

          &:focus
            + textarea,
            + input,
            + select
              border-top-color: #85B7D9

        &:not(:first-child)
          border-top-left-radius: 0

      > .fields
        margin: 0
        margin-right: -0.5px

        &:not(:first-child) > *
          border-top-left-radius: 0

        &:not(:last-child)
          > *:not(:first-child)
            border-bottom-left-radius: 0

          > *
            border-bottom: 0

        > *
          border-top-right-radius: 0
          border-bottom-right-radius: 0
