@import semantic-ui

.ui.search > .results
  width: auto
  max-width: 80%

.ui.list > .item a.content
  color: inherit

  &:hover
    color: black

.clearfix
  clear: both

.sortable-ghost
  opacity: 0.4

.sortable .handle
  cursor: move

.translation_missing
  background: moccasin

.input + .ui.label,
input + .ui.label,
input + .ui.rounded.image
  margin-top: 2px
  margin-left: 0
