
#logo path
  fill: black

#sidebar
  position: absolute
  width: 225px
  padding: 1.5rem 1rem
  box-sizing: border-box

  .item:not(.dropdown) > .menu
    margin: 0.5em -1.14285714em 0em

main
  margin-left: 225px
  padding: 1.5rem 1rem
  padding-bottom: 10%
  box-sizing: border-box
  max-width: 700px
  min-width: 420px

#header
  display: table-cell
  vertical-align: bottom
  height: 112.5px

  .header
    display: inline-block
    text-transform: lowercase
    margin: 0
    margin-bottom: 0.2em

#loader
  margin-left: 15px
  display: inline-block

  &:not(.active)
    display: none

#content
  display: block
  padding-top: 1rem
