
.ui.media.input
  cursor: pointer
  display: block

  .handle:hover > input
    border-color: rgba(34, 36, 38, 0.35)

  input
    width: 100% !important
    pointer-events: none

  .ui.image
    display: inline-block
    margin: 4px 0

    > img
      max-height: 240px

#media-files .media
  padding: 0.5em

  &.active .media-wrapper
    border-color: #2185D0

  &:not(.active) .ui.label
    display: none

  &-wrapper
    position: relative
    border: 3px solid transparent

  &-image
    display: block
    position: relative
    padding-bottom: 100%
    background-color: black
    background-position: center
    background-size: contain
    background-repeat: no-repeat

    i.icon
      position: absolute
      left: 0
      right: 0
      top: 50%
      margin-top: -25px !important
      text-align: center
      font-size: 50px
      line-height: 1em
      color: rgba(255, 255, 255, 0.9)

  &-meta
    padding: 0.5em 0.4em

  &-link
    float: right
    color: inherit

    &:hover
      opacity: 0.8

  &-name
    white-space: nowrap
    overflow: ellipses

  &:not(:hover) > .media-overlay
    opacity: 0

  &-type-video .media-image > i.icon:before
    content: '\f144'

#media-files-library
  .content
    overflow-y: scroll
    min-height: 80vh

  .media-meta
    color: white

#media-files
  &.media-filter-video > .media:not(.media-type-video),
  &.media-filter-image > .media:not(.media-type-image)
    display: none
