
.section {
  .format.field,
  .field.for {
    display: none;
  }

  &.type-text {
    .for.text,
    .text.format {
      display: block;
    }

    &.format-with_quote .for.sub-quote,
    &.format-adjacent_to_image .for.image,
    &.format-within_image .for.image,
    &.format-around_image .for.image,
    &.format-with_image_background .for.image {
      display: block;
    }
  }

  &.type-video {
    .for.video {
      display: block;
    }
  }

  &.type-image {
    .for.image,
    .image.format {
      display: block;
    }
  }

  &.type-quote {
    .for.quote, {
      display: block;
    }
  }

  &.type-banner {
    .for.image,
    .for.button {
      display: block;
    }
  }

  &.type-action {
    .for.action,
    .action.format {
      display: block;
    }

    &.format-button .for.button {
      display: block;
    }
  }
}

.reset-slug {
  label {
    margin-left: 10px;
  }

  input[type="checkbox"] {
    vertical-align: baseline !important;
  }
}

.child {
  margin-bottom: 1em;

  &.deleting {
    opacity: 0.8 !important;
    box-shadow: 0px 1px 2px 0 rgba(219, 40, 40, 1), 0px 0px 0px 1px rgba(219, 40, 40, 1) !important;
  
    .field,
    .fields {
      display: none !important;
    }
  }

  &.fields:not(.deleting) {
    .ui.destroy.checkbox {
      display: none;
    }
  }
}
