
body.review
  .ui.floating.label
    top: 0
    right: 0
    left: auto
    border-radius: 0
    border-bottom-left-radius: 0.28571429rem

  .ui.checkbox
    input, input:focus
      &:not(:checked)

      &:checked ~ label:before
        background-color: red !important

  ins
    text-decoration: none
    background: #cdffd8

  del
    text-decoration: none
    background: #ffdce0