
.cdx-list
  padding-left: 20px
  outline: none

  &__item
    padding: 5.5px 0 5.5px 3px
    line-height: 1.2em

// TUNES
.cdx-list--text.cdx-list
  &--unordered
    list-style-type: disc

  &--ordered
    list-style-type: decimal

  &--leaf
    list-style-type: circle
    list-style-type: image('graphics/leaf.svg')
