
// SETTINGS
.cdx-paragraph .cdx-settings-button
  @for $level from 1 through 6
    &[data-key="h#{$level}"]
      .icon::after
        content: '#{$level}'
        font-weight: bold

// TUNES
.cdx-paragraph--header
  .cdx-input[data-key="text"]
    font-size: 1.7rem
    padding: 0.5em 0
    margin: 0
    line-height: 1.25em
    outline: none

  @for $level from 1 through 6
    &.cdx-paragraph--h#{$level} .cdx-input[data-key="text"]
      font-size: 1.7rem * (1 - (($level - 2) * 0.15))
