@import "_mixins/device-media"

.page-article
  padding-top: 175px

  section.s_together
    margin-bottom: 325px
    @media screen and (max-width: 1440px)
      margin-bottom: 12%

  &-no-img
    padding-top: 245px
    .chapter-nav-wrapper
      width: 100% !important
    .chapter-nav
      border-top: 1px solid #9d9d9c

  article
    margin-bottom: 124px

  h4
    font-size: 1.5rem
    line-height: 1.938rem
    color: $dark-gray
    font-family: $raleway-semi
    margin-bottom: 1rem

  p
    font-size: 1.125rem
    line-height: 1.875rem
    color: #9d9d9c
    &:not(:last-of-type)
      margin-bottom: .7rem

  .bg-image
    margin-bottom: 0
    .figcaption
      margin-bottom: 1%
    .s_subtitle
      margin-top: 5%
      letter-spacing: 1px
      color: #fff
      position: relative
      &:after
        background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.18) 25%, rgba(241, 212, 175, 0.7) 100%)

  .figure-wide
    margin-top: 70px

  .divider__leave
    display: block
    margin: auto auto 2.188rem
    background-image: image-url("article/graphic-1.svg")
    width: 29px
    height: 32px
    &.after
      margin-bottom: 0
      margin-top: 2.188rem
      transform: rotate(180deg)

  .has__btn
    padding-top: 64px

  .divider__line
    display: block
    max-width: 400px
    width: 100%
    margin: auto
    background-color: #aaaaa9
    height: 1px
    border: none
    position: relative
    &:after
      background-color: #fff
      content: ''
      position: absolute
      padding: 0 20px
      display: block
      background-image: url(../img/article/graphic-1.svg)
      width: 29px
      height: 32px
      background-repeat: no-repeat
      background-position: center
      transform-origin: center
      left: 50%
      transform: translateX(-50%) translateY(-100%)
      top: 2px
    &.after
      &:after
        top: -2px
        transform-origin: center
        transform: rotate(180deg) translateX(50%)

  .article-blockquote
    padding-top: 94px
    margin-bottom: 80px
    h3
      font-size: 1.5rem
      line-height: 2.25rem
      color: $dark-gray
      font-family: $raleway-medium
      margin-bottom: 32px
    p
      font-size: 1rem
      line-height: 1.5rem
      font-family: $raleway-medium
      margin-bottom: 50px
      span
        display: block
        font-size: 0.875rem
        font-family: $raleway
    .divider__line
      &:first-of-type
        margin-bottom: 50px

  section
    margin-bottom: 4rem
    .bg-image
      margin-bottom: 82px

  .video-box
    max-width: 615px
    width: 100%
    margin-bottom: 70px
    .video-wrapper
      position: relative
      margin-bottom: 32px

  .form-box
    width: 100%
    display: block
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.18) 25%, rgba(241, 212, 175, 0.7) 100%)
    padding: 86px
    margin: 86px 0
    button
      margin-bottom: 1.5rem
    .divider__leave
      &:first-of-type
        margin-bottom: 3.125rem
    h4
      font-size: 1.875rem
      line-height: 2.5rem
      color: $dark-gray
      font-family: $raleway-medium
      span
        display: block
        font-size: 1.125rem
        line-height: 2.25rem
        font-family: $raleway
    .section-wrapper > p
      font-size: 1.5rem
      line-height: 1.938rem
      color: $dark-gray
      font-family: $raleway-semi
      margin-bottom: 4rem
    input
      font-size: 1.125rem
      outline: transparent
      background-color: transparent
      border-radius: 0
      max-width: 510px
      width: 100%
      padding-bottom: 18px
      border: none
      color: $dark-gray
      border-bottom: 1px solid #9d9d9c
      margin-bottom: 3.5rem
      &::placeholder
        font-size: 0.875rem
        line-height: 1.875rem
        color: #9d9d9c

  .section-wrapper
    max-width: 830px
    width: 100%
    margin: auto

  figure
    position: relative
    margin: 0
  img
    display: block

  .figcaption
    position: absolute
    writing-mode: vertical-rl
    transform: rotate(180deg)
    bottom: 0
    right: 100%
    margin-right: 12px

  .callout
    &-figure
      float: left
      margin: 40px 50px 40px -130px
    &-text
      float: right
      display: block
      max-width: 420px
      width: 100%
      margin: 20px -150px 40px 50px
      padding: 70px 0
      position: relative
      p
        font-size: 1.25rem
        line-height: 2.188rem
        font-family: $raleway-semi
        color: $dark-gray
      &:after
        content: ''
        width: 100%
        height: 100%
        position: absolute
        display: block
        left: 17%
        top: 0
        bottom: 0
        right: 0
        background: linear-gradient(to left, rgba(255, 255, 255, .01) 0, rgba(255, 255, 255, .18) 25%, rgba(197, 224, 220, .3) 100%)
        z-index: -1

  .guide-form
    width: 100%
    display: block
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.18) 25%, rgba(241, 212, 175, 0.7) 100%)
    .form-wrapper
      display: block
      max-width: 830px
      width: 100%
      margin: auto

  .share
    font-size: 0.75rem
    line-height: 1.375rem
    font-family: $raleway
    padding-top: 70px
    a
      display: inline-block
      margin: 0 6px
      &:hover
        color: $dark-gray
      &:first-of-type
        margin-left: 36px

  .s-together
    margin-bottom: 14%

  &_no-img
    padding-top: 240px
    .s-intro
      margin-bottom: 120px
      .s_subtitle
        &::after
          background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.18) 25%, rgba(241, 212, 175, 0.7) 100%)

    .form-box
      margin-bottom: 0

    .callout-figure
      img
        width: 354px

.chapter-nav
  height: 82px
  border-bottom: 1px solid #9d9d9c
  &-gradient
    display: block
    position: absolute
    left: 0
    top: 0
    width: 0
    height: 100%
    //background-color: rgba(197, 224, 220, 0.4)
    //background: linear-gradient(to right, rgba(255, 255, 255, 0.01) 0%, rgba(255, 255, 255, 0.18) 25%, rgba(197, 224, 220, 0.3) 100%)
    z-index: 1
  &-wrapper
    margin-bottom: 84px
    z-index: 35
    background-color: #fff
    &.wide-chapter
      top: 122px !important
  ul
    position: relative
    z-index: 10
    height: 100%
    display: flex
    li
      position: relative
      display: flex
      flex: 1
      align-items: center
      &:not(:last-of-type)
        padding-right: 30px
      @media screen and (max-width: 459px)
        &:not(:first-of-type)
          display: none
    a
      display: flex
      width: 100%
      height: 100%
      font-size: 12px
      color: #c6c6c6
      line-height: 22px
      font-family: $raleway-medium
      align-items: center
      &.active
        color: #555555


  .chapter-num
    margin-right: 15px
    font-family: $raleway
    font-weight: 200
    font-size: 45px
    color: #c6c6c6

.progress-indicator
  position: absolute
  bottom: -2px
  left: 0
  height: 3px
  background-color: #8ec2bb

.page-article
  @media screen and (max-width: 459px)
    &.page-article-no-img
      .s-intro
        height: 100px
        margin-bottom: 0
        .container
          display: flex
          justify-content: flex-start
          align-items: center
          padding: 0 25px
        h2
          position: relative
          margin: 0
          padding: 0
          line-height: 100px
          &:after
            width: 100%
            height: 100%
            left: 0
            top: 0

    padding-top: 85px

    .bg-image
      min-height: 25vh

    article
      padding: 0 30px
      margin-bottom: 0
      section
        .bg-image
          min-height: 25vh
          margin: 0 -30px 45px
          .has__triangle
            &:after
              display: none
          .figcaption
            position: absolute
            bottom: 0
            display: block
            left: 30px
            width: 100%

    p
      font-size: 16px
      line-height: 28px
    .callout-text
      float: none
      max-width: 100%
      padding: 35px 0
      margin: 0 0 15px
      p
        font-size: 18px
        line-height: 28px
      &:after
        left: 50%
    .callout-figure
      margin: 0
      float: none
      img
        width: 100%
    .figcaption
      margin: 10px 0 15px
      position: static
      transform: none
      writing-mode: horizontal-tb

    .figure-wide
      margin-top: 15px
      .figcaption
        margin-bottom: 0

    .chapter-nav-wrapper
      margin-bottom: 25px
      .container
        padding: 0 25px
      .chapter-nav
        height: 55px
        .chapter-num
          font-size: 35px
      .chapter-nav-gradient
        width: calc(100% - 50px) !important
        left: 25px !important

    .has__btn
      padding-top: 45px

    .article-blockquote
      margin: 0
      padding: 45px 0 90px
      h3
        font-size: 18px
        line-height: 28px
        br
          display: none

    .form-box
      width: calc(100% + 60px)
      margin: 30px -30px 70px
      padding: 35px 30px
      h4
        font-size: 24px
        line-height: 28px
        margin-bottom: 5px
        span
          margin-top: 5px
        br
          display: none
      button
        margin-bottom: 0

      .section-wrapper > p
        font-size: 16px
        line-height: 28px
        margin-bottom: 45px
      .divider__leave
        &.after
          margin-top: 25px
        &:first-of-type
          margin-bottom: 25px
      input
        padding: 0
        font-size: 18px
        line-height: 36px

    .video-box
      margin-bottom: 35px

    .share
      padding-top: 35px

    .s_together
      .container
        padding-top: 0

    section.s_together
      &:before
        top: 17%
        height: 90%

  @include tablet
    .bg-image
      min-height: 20vh
      .s_subtitle
        margin-top: 7%

    article
      padding: 0 15px

    .callout-text
      max-width: 360px
      margin: 20px 0 40px 50px

    .callout-figure
      margin: 40px 50px 40px 0

    .form-box
      width: calc(100% + 30px)
      margin-left: -15px
      margin-right: -15px







