@import "vars"
@import "_mixins/device-media"

.map-container
  display: block
  width: 100%
  position: relative
  margin-bottom: 22.91vw
  img
    width: 100%
    height: auto
    display: block

.circle__illustration
  position: absolute
  width: 26vw
  display: block
  bottom: 0
  right: 0
  transform: translate(0%, 50%)
  @media screen and (max-width: 1440px)
    width: 30vw
  img
    display: block
    width: 100%
    height: auto
  svg
    path
      stroke: $orange
  &_wrapper
    padding: 50px
    position: absolute
    width: 100%
    height: 100%
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    top: 0
    left: 0
    right: 0
    bottom: 0
    p
      font-size: 24px
      line-height: 31px
      color: #7b7b7b
      font-family: $raleway-semi
      margin-bottom: 1vw
    span
      display: block
      font-size: 18px
      line-height: 30px
      color: #9d9d9c
      margin-bottom: 1.8vw
    button
      padding: 10px 50px
//  font-size: 0.83vw
//  line-height: 1.56vw
//  padding: 0.88vw 2.45vw

.marker
  position: relative
  font-size: 18px
  line-height: 30px
  color: #7b7b7b
  font-family: $raleway-bold
  &:hover
    color: $orange
  &:before
    content: ''
    width: 11px
    left: -18px
    bottom: 4px
    height: 11px
    display: block
    position: absolute
    background: image-url("come-meditate/dot.svg") no-repeat
    -webkit-background-size: cover
    background-size: cover

.map-item
  position: absolute

.map-popup
  position: absolute
  left: -1px
  top: -5px
  z-index: 99
  width: 300px
  padding: 2.08vw
  background-color: #fff
  transition: all 300ms ease-in
  transform: translate(-55%, -100%)
  box-shadow: 0 0 24px rgba(0, 0, 0, 0.22)
  opacity: 0
  visibility: hidden
  &::after
    content: ''
    position: absolute
    bottom: 1px
    left: 50%
    border: 8px solid transparent
    border-top: 8px solid #fff
    transform: translate(-50%, 100%)
  &.open
    opacity: 1
    visibility: visible
  ul
    li
      font-size: 14px
      line-height: 18px
      color: #9d9d9c
      padding: 1vw 0
      p
        position: relative
        &::before
          content: ''
          left: .5vw
          bottom: -0.15vw
          height: 23px
          width: 18px
          display: block
          position: absolute
          -webkit-background-size: cover
          background-size: cover
          background: image-url("come-meditate/metro-icon.svg") no-repeat center
      a
        font-size: 14px
        line-height: 18px

      &:first-of-type
        border-top: 1px solid #e8e8e8
      &:not(:last-of-type)
        border-bottom: 1px solid #e8e8e8
      &:last-of-type
        padding-bottom: 0

.city-1
  top: 47%
  left: 11%

.city-2
  top: 60%
  left: 14%

.city-3
  top: 72%
  left: 13%

.city-4
  top: 64%
  left: 22%

.city-5
  top: 68%
  left: 21%

.city-6
  top: 76%
  left: 43%

.page-come-meditate
  @media screen and (max-width: 459px)
    .s_subtitle
      padding-left: 15px
      margin-bottom: 0 !important
    .section-header
      .title
        font-size: 30px
        line-height: 1
        margin-bottom: 30px
      .desc
        font-size: 24px
        line-height: 31px
    .map-container
      padding-top: 50px
    .map-item
      display: none

    .city-info
      padding: 0 15px
      ul
        margin-bottom: 30px
        li
          text-align: left
          font-size: 14px
          line-height: 21px
          color: #9d9d9c
          padding: 20px 0 20px 30px
          p
            position: relative
            &::before
              content: ''
              left: -30px
              bottom: 0
              height: 23px
              width: 18px
              display: block
              position: absolute
              -webkit-background-size: cover
              background-size: cover
              background: image-url("come-meditate/metro-icon.svg") no-repeat center
          a
            font-size: 14px
            line-height: 18px
            display: block
            text-align: center

          &:first-of-type
            border-top: 1px solid #e8e8e8
          &:not(:last-of-type)
            border-bottom: 1px solid #e8e8e8
          &:last-of-type
            padding-left: 0
            padding-bottom: 0
          span
            br
              display: none

    .circle__illustration
      padding-top: 2rem
      position: relative
      margin: auto
      width: 73vw
      transform: none
    .circle__illustration_wrapper
      padding: 0
      p
        padding-top: 20px
        font-size: 16px
        line-height: 1.3
        margin-bottom: 1rem
      span
        font-size: 12px
        line-height: 1
        margin-bottom: 1rem
      .btn
        font-size: 14px
        padding: 3px 20px

.hide
  display: none

.div-toggle, .city-info
  @media screen and (min-width: 460px)
    display: none

.select-hidden
  display: none
  visibility: hidden
  padding-right: 10px

.select
  padding-top: 15px
  cursor: pointer
  display: inline-block
  position: relative
  font-size: 16px
  color: #fff
  width: calc(100% - 30px)
  height: 50px

.select-styled
  position: absolute
  font-size: 18px
  line-height: 30px
  color: #7b7b7b
  font-family: $raleway-bold
  top: 0
  right: 0
  bottom: 0
  left: 0
  background-color: #fff
  padding: 8px 15px
  transition: all 0.2s ease-in
  &::after
    transition: transform .3s ease
    display: inline-block
    content: "\e906"
    font-family: yoga-icon, sans-serif
    font-size: 11px
    color: #9d9d9c
    transform: rotate(90deg)
    margin-left: 12px
    transform-origin: center
  &:hover
    background-color: #fff
  &:active, &.active
    background-color: #fff
    color: $orange
  &:active:after, &.active:after
    transform: rotate(270deg)
    transform-origin: center

.select-options
  display: none
  position: absolute
  top: 100%
  right: 0
  left: 0
  z-index: 999
  margin: 0
  padding: 0
  list-style: none
  background-color: lighten(#eeeeee, 5%)
  max-height: 325px
  overflow: scroll
  li
    margin: 0
    padding: 12px 0
    color: #7b7b7b
    transition: all 0.15s ease-in
    font-size: 18px
    line-height: 30px
    font-family: $raleway-bold
    &:hover
      color: #c0392b
      background: #fff
    &[rel="hide"]
      display: none

.page-come-meditate

  @include laptop

    .city-1
      top: 43%
      left: 12%

    .city-2
      top: 55%
      left: 15%

    .city-3
      top: 65%
      left: 14%

    .city-5
      top: 62%
      left: 23%

    .city-4
      top: 58%
      left: 24%

    .city-6
      top: 68%
      left: 43%

    .circle__illustration_wrapper
      p
        font-size: 18px
        line-height: 1.3
        margin-bottom: 7px
      span
        font-size: 14px
        line-height: 1.3
        margin-bottom: 10px
      button
        padding: 7px 15px
        font-size: 16px
        line-height: 1


  @include tablet

    .circle__illustration_wrapper
      p
        font-size: 16px
        line-height: 1.3
        margin-bottom: 7px
      span
        font-size: 12px
        line-height: 1.3
        margin-bottom: 10px
      button
        padding: 4px 15px
        font-size: 14px
        line-height: 1

    .marker
      font-size: 16px
      &::before
        width: 8px
        height: 8px
        background-size: cover

    .map-popup ul li, .map-popup ul li a
      font-size: 11px
      line-height: 1.3

    .map-popup
      left: -6px
      padding: 15px 0
      max-width: 175px
      ul
        padding: 0 5px
        li
          p
            &::before
              bottom: -7px

    .city-1
      top: 39%
      left: 12%

    .city-2
      top: 51%
      left: 16%

    .city-3
      top: 61%
      left: 14%

    .city-5
      top: 58%
      left: 27%

    .city-4
      top: 53%
      left: 28%

    .city-6
      top: 63%
      left: 43%

