.mobile-menu__btn
  margin-bottom: -10px
  display: none
  position: relative
  height: 42px
  width: 42px
  line-height: 42px
  font-size: 1.4rem
  text-transform: uppercase
  letter-spacing: .2rem
  color: rgba(255, 255, 255, 0.5)
  transition: all 0.3s ease-in-out
  .mobile-menu-icon
    display: block
    height: 2px
    width: 24px
    background-color: #FFFFFF
    position: absolute
    top: 50%
    right: 9px
    margin-top: -2px
    &::before, &::after
      content: ''
      width: 100%
      height: 100%
      background-color: inherit
      position: absolute
      left: 0
    &::before
      top: -9px
    &::after
      bottom: -9px

.mobile-menu
  background: #fff
  margin-top: 0
  position: fixed
  top: -130%
  left: 0
  right: 0
  bottom: auto
  z-index: 50
  display: flex
  align-items: center
  justify-content: center
  overflow: auto
  will-change: transform
  transition: .5s
  &_open
    top: 0
    bottom: 0
    transition: .5s

.mobile-menu__wrap
  width: 100%
  display: flex
  align-items: center
  justify-content: center
  flex-direction: column
  padding-top: 30px

.mobile-menu__topline
  padding: 24px 22px 0 22px
  display: flex
  position: absolute
  top: 0
  left: 0
  width: 100%
  justify-content: space-between
  align-items: flex-end
  .icon-logo__meditade
    color: $light-gray
    font-size: 43px

.mobile-menu__item
  width: 100%
  transition: all .3s ease
  &:hover, &.active
    background-color: rgba(232, 232, 232, 0.4)

.mobile-menu__href
  color: $light-gray
  font-family: $raleway
  display: flex
  align-items: center
  justify-content: center
  font-size: 18px
  line-height: 55px
  transition: .3s
  font-weight: 600
