@import "_mixins/device-media"

.page-shri-mataji

  .article__list
    padding-left: 0
    display: flex
    flex-wrap: wrap

    .article__item
      margin-bottom: 50px
      padding-right: 20px
      margin-right: 20px
      display: none
      @include mobile
        margin-right: 0
        padding-right: 0

      h4
        a
          display: block
          margin-bottom: 8px
          text-align: left
          font-family: raleway-bold, sans-serif
          font-size: 20px
          line-height: 24px
          color: #9d9d9c
          letter-spacing: 1px
          transition: color .3s ease
          &:hover
            color: #7b7b7b
      p
        font-family: raleway, sans-serif
        font-size: 14px
        color: #9d9d9c
        line-height: 1.75

  .s_together
    @media screen and (max-width: 1440px)
      margin-bottom: 12%

  .video-play__btn_wrapper
    position: absolute
    bottom: 7%
    right: 0
    transform: translateX(50%)
    a
      &:hover
        border-color: #fff
    @media screen and (max-width: 459px)
      right: -14%
      bottom: 14%

  .btn-circle-svg
    -webkit-transform: translateZ(0) scale(1.0, 1.0)
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
    backface-visibility: hidden
    user-select: none
    text-align: center
    position: relative
    width: 361px
    height: 361px
    transition: all .5s ease
    margin-top: 55px
    @media screen and (max-width: 1400px)
      width: 300px
      height: 300px
      margin-top: 35px
    @media screen and (max-width: 768px)
      margin: 25px 0
      width: 180px
      height: 180px
    svg
      stroke: $dark-gray
    span
      transition: all .5s ease
      display: inline-block
      width: 100%
      font-family: $raleway-medium
      color: $dark-gray
      font-size: 30px
      line-height: 30px
      position: absolute
      font-weight: normal
      top: 50%
      left: 50%
      transform: translate(-50%, -50%)
      will-change: transform
      text-rendering: optimizeLegibility !important
      font-smoothing: antialiased !important
      -webkit-font-smoothing: antialiased !important
      -moz-osx-font-smoothing: grayscale !important
      @media screen and (max-width: 1400px)
        font-size: 25px
        line-height: 25px
      @media screen and (max-width: 768px)
        font-size: 16px
        line-height: 18px
    &:hover
      -webkit-transform: scale3d(1.1, 1.1, 1.1)
      transform: scale(1.1)
      svg
        stroke: $orange
        transform-origin: center
      span
        color: $orange

  .mobile-title
    font-size: 20px
    line-height: 30px
    font-family: raleway-bold, sans-serif
    font-weight: 700
    color: #7b7b7b
    display: none
    text-align: center
    margin-bottom: 30px
    span
      display: block
    @media screen and ('max-width: 736px') and (orientation: portrait)
      display: block

  section
    margin-bottom: 15vh
  .s__founder
    @media screen and (min-width: 1024px) and (max-width: 1400px)
      margin-bottom: 250px
    .s_title
      top: 117%
    .article__text
      z-index: 20
    .img__circle
      right: 251px
      bottom: -215px
    .article_main
      @media screen and (max-width: 480px)
        position: static !important
        padding: 0 15px !important

  .article
    max-width: 670px
    width: 100%

  .article__text
    p
      margin-bottom: 0

  .article_main
    .article__btn
      @media screen and ('min-width: 1400px')
        margin-top: 30px

  .article_main
    right: 50%
    position: absolute
    top: 50%
    margin-right: -18%
    margin-top: -240px
    max-height: 100%

  .s__sahaja
    background-repeat: no-repeat
    background-position: top center
    .s__wrapper_wide
      .article_main
        padding: 100px 67px
        top: 14%
        .article__text
          p:first-of-type
            margin-bottom: 48px
        .article__btn
          @media screen and (max-width: 480px)
            margin-top: 25px

  .s__try-meditation
    position: relative
    &::before
      content: ''
      display: block
      height: 408px
      width: 100%
      position: absolute
      left: 0
      bottom: 65px
      background: linear-gradient(to right, rgba(232, 232, 232, 0.5) 0%, rgba(255, 255, 255, 0.01) 100%)
      z-index: -1

  .s__box
    width: 100%
    display: flex
    flex-direction: column
    align-items: center
    justify-content: space-between
    .section_btn
      margin-top: 55px
      width: 361px
      height: 361px
      span
        font-family: $raleway-medium
        text-align: center
        font-size: 30px
        line-height: 40px
        font-weight: normal
    p
      text-align: center
      max-width: 365px
      font-size: 24px
      line-height: 36px
      font-family: $raleway-bold
      font-weight: 700
      color: $dark-gray
      margin-bottom: 100px
      span
        display: block
      @media screen and ('max-width: 736px') and (orientation: portrait)
        display: none
  .article__image
    position: relative
    display: block

  .s__social-work
    z-index: 5
    .article_main
      margin-top: -289px
      @media screen and (max-width: 1400px)
        margin-top: -263.5px

  .s__family
    position: relative
    .s__wrapper
      &::before
        content: ''
        opacity: .5
        display: block
        height: 710px
        width: 705px
        position: absolute
        right: -335px
        top: -520px
        background: linear-gradient(to left, rgba(255, 255, 255, 0.01) 0%, rgba(255, 255, 255, 0.18) 25%, rgba(197, 224, 220, 0.3) 100%)
        z-index: -1
      .article
        background-color: transparent
        margin-left: -45px
        padding-right: 45px
        @media screen and (max-width: 480px)
          position: static
    .img__circle
      bottom: -215px
      right: 0
      left: 175px

  .s__awards
    margin-bottom: 0
  .article__wrapper
    margin-bottom: 50px
    @media screen and (max-width: 480px)
      margin-bottom: 0
  .award__text
    margin-bottom: 52px
    color: $light-gray
    .h3
      color: $dark-gray
      font-size: 24px
      font-family: $raleway-bold
      font-weight: 700
      margin-bottom: 47px
    p
      margin-bottom: 18px
    span
      display: inline-block

  .loadmore
    & > .btn
      padding: 17px 25px

@media only screen and (max-width: 1400px)
  .page-shri-mataji
    section
      margin-bottom: 30vh

    .article_main
      margin-right: -18%

    .s__founder
      .img__circle
        width: 460px
        height: 460px
        right: 20%
        bottom: -25%
      .article_main
        padding: 75px 110px
        margin-top: -218.5px

    .s__sahaja
      .s__wrapper_wide
        .article_main
          padding: 45px
          top: 17%
          .article__text
            p
              font-size: 100%
              line-height: 25px
            p:first-of-type
              margin-bottom: 22px
          .article__btn
            margin-top: 25px

    .has__triangle
      &::after
        bottom: -72px
        width: 204px
        height: 164px
        right: 10%

    .s__try-meditation
      &::before
        bottom: -110px
      .s__box
        .section_btn
          width: 281px
          height: 281px
          margin-top: 0
          span
            font-size: 23px
            line-height: 27px

    .s__social-work
      .article_main
        padding: 75px 110px

    .s__family
      .s__wrapper
        &::before
          right: -335px
          top: -520px
        .article
          margin-left: -155px
      .img__circle
        width: 460px
        height: 460px
        bottom: -25%
        left: 14%

    .s_subtitle
      font-size: 33.6px
      height: 85px
      line-height: 85px
      &::after
        height: 85px

@media only screen and (max-width: 1024px)
  .page-shri-mataji
    .s__founder
      margin-top: 5vh
      .s_title
        top: 100%

    section
      margin-bottom: 15vh

    .s_subtitle
      padding: 0 15px

    .section_btn
      -webkit-user-select: none
      -moz-user-select: none
      -ms-user-select: none
      user-select: none
      -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
      transform: none !important
      &:hover, &.active
        transition: none
        background-size: 280px auto
        transform: none !important

@media only screen and (min-device-width: 768px) and (max-device-width: 1366px) and (orientation: portrait)
  .page-shri-mataji
    .img__circle
      display: none !important

    .s_title
      span
        font-size: 35px
        line-height: 35px

    section
      margin-bottom: 20%

    .s__founder
      min-height: 100%
      margin-bottom: 24px
      .article_main
        margin-top: 0 !important
        position: static !important
        padding: 75px 65px

    .s__social-work, .s__wrapper
      .article_main
        padding: 75px 65px
        margin-top: 0 !important
        position: static !important

    .s__social-work
      margin-bottom: 25px

    .s__articles
      .article__wrapper
        padding: 0 65px

    .s__try-meditation
      min-height: 100%
      margin: 0 0 153px
      .s__wrapper
        justify-content: flex-start
        flex-direction: row
      &::before
        bottom: -75px
      .s__box
        width: 50%
        align-items: center
        justify-content: space-between
        .section_btn
          margin-top: 5%
        p
          padding: 0 50px
          margin-bottom: 15%

    .fullscreen
      height: 100%

    .s__family
      height: 100%
      margin-bottom: 25px
      .s__wrapper
        .article
          margin-left: 0
          padding: 75px 65px
        &::before
          right: -450px
          top: -400px
      .img__circle
        width: 460px
        height: 460px
        bottom: -20%
        left: 50%

    .s__articles
      .article__title, .award__text .h3
        font-size: 24px
        line-height: 31px
        color: #7b7b7b
        margin-bottom: 17px
      p, span
        font-size: 18px
        line-height: 30px

@media only screen and (min-device-width: 768px) and (max-device-width: 1366px) and (orientation: landscape)
  .page-shri-mataji
    .article_main
      max-width: 670px
      margin-right: -18%
      margin-top: -240px
    section.s_together
      .btn__item_container
        width: 100%

    .s_together
      .container
        padding-right: 100px
        padding-left: 100px

    .s__try-meditation
      .s__box
        width: 50%
        align-items: center
        justify-content: space-between
        .section_btn
          margin-top: 10%

    //.s__founder
    //  margin-bottom: 30vh

    .s__social-work
      .s__wrapper
        .article_main
    //padding: 35px 65px 65px

    .s__family
      .s__wrapper
        .article_main
          position: static
          align-self: center
          margin: 0
          padding: 50px 50px 50px 100px

    .s__try-meditation
      margin-bottom: 30vh

    .s__articles
      .article__title, .award__text .h3
        font-size: 24px
        line-height: 31px
        color: #7b7b7b
        margin-bottom: 17px
      p, span
        font-size: 18px
        line-height: 30px

@media only screen and (max-width: 480px)
  .page-shri-mataji
    section
      margin-bottom: 54px

    .s_subtitle
      font-size: 30px
      height: 100px
      line-height: 30px

    .s_title
      span
        font-size: 25px
        line-height: 25px

    .fullscreen
      height: 100%

    .s__founder
      .img__circle
        width: 259px
        height: 259px
        right: -125px
        bottom: -30px
      .article_main
        margin-top: 0
    //@media screen and (max-width: 1400px)
    //  .article_main
    //    padding: 75px 110px

    .s__sahaja
      .s__wrapper_wide
        flex-direction: column
        height: 320px
        .article_main
          margin-top: 320px
          padding: 0 15px
          position: static

    .has__triangle
      &::after
        bottom: -37px
        width: 124px
        height: 84px
        right: 10%

    .s__try-meditation
      margin-top: -55px
      &::before
        bottom: 0
      .s__wrapper
        justify-content: center
      .s__box
        .section_btn
          width: 181px
          height: 181px
          margin: 15px 0
          span
            font-size: 14px
            line-height: 18px
        p
          margin-bottom: 0
          font-size: 20px
          span
            display: block

    .s__social-work
      .s_title
        span
          font-size: 25px
          line-height: 25px
      .article_main
        position: static
        padding: 45px 15px 0
        width: 100%
        margin-top: 0

    .s__family
      .img__circle
        width: 259px
        height: 259px
        left: -125px
        bottom: -30px
      .s__wrapper
        .article
          margin-left: 0
          padding-right: 0

    .award__text .h3, .s__articles .article__title
      margin-bottom: 17px
      font-size: 24px
      line-height: 31px
      color: $dark-gray

    .section_btn
      -webkit-user-select: none
      -moz-user-select: none
      -ms-user-select: none
      user-select: none
      -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
      transform: none !important
      &:hover, &.active
        transition: none
        background-size: 180px auto
        transform: none !important

    .s__awards
      z-index: 20
      margin-bottom: 0

    .s__articles
      margin-bottom: 25px
      .article__text
        font-size: 16px

@media only screen and (min-device-width: 320px) and (max-device-width: 736px) and (orientation: landscape)
  .page-shri-mataji

    .video-play__btn_wrapper
      right: 30%
    section
      margin-bottom: 5vh
      &.s_together
        padding-top: 50px
        min-height: 170vh
        background-size: 960px 700px
        background-position: center -60px
        margin-bottom: 100px
        &::before
          height: 200vh
          bottom: -50px
        .s_title
          left: 18px
        .container
          padding-top: 0
        .title__wrapper
          max-width: 75%
          margin: 0 auto
          .title
            font-size: 30px
          .description
            font-size: 24px
            margin-bottom: 0
        .item__text
          font-size: 16px
          line-height: 18px
        .item__icon
          margin-bottom: 20px
        .btn__item_container
          padding: 55px

    .s__founder
      .article_main
        padding: 45px !important
        position: static !important
        margin: 0 !important

    .has__triangle
      &::after
        display: none

    .s_subtitle
      font-size: 25px

    .s_title
      span
        font-size: 23px
        line-height: 23px

    .img__circle
      display: none

    .s__howto
      min-height: 100%
      margin-bottom: 100px
      .s__wrapper_wide
        .article_main
          top: 0
          left: 90px
          max-width: 80%
          padding: 15px
          margin: 0

    .s__try-meditation
      &::before
        bottom: 55px
      .s__wrapper
        flex-direction: row
        justify-content: flex-start
        .s__box
          width: 50%

    .s__social-work
      .article_main
        width: 100%
        padding: 45px !important
        position: static !important
        margin: 0 !important

    .s__articles
      margin-bottom: 100px

    .s__family
      margin-bottom: 0
      .s__wrapper
        .article
          margin-left: 0
          padding-bottom: 0
          position: static

    .s__box .section_btn
      width: 200px !important
      height: 200px !important
      margin-top: 0
      span
        font-size: 18px !important
        line-height: 20px !important





