@import "../../../mixins/*"

section.type-image.format-fit-page-width
  .background-wrapper
    background-size: cover
    height: 20vh

    @include laptop-or-larger
      height: 45vh

  .image-credit
    @include tablet-or-larger
      color: $color-text-inverse
      margin-right: -70px
      margin-bottom: 20px

  .with-decoration.triangle:after
    @include tablet-or-smaller
      bottom: 0
