@import "../../../mixins/*"

section.type-image
  margin-bottom: $section-margin-thin

  p
    margin-top: 13px
    margin-bottom: 23px

    color: $color-text-lighter
    line-height: 1.25
    letter-spacing: 0.3px
