@import "../../mixins/functions"
@import "../../mixins/vars"

/* BANNER
  Banners are used at the top of most pages
  A banner is designed to display the title of the page in a stylized manner.
  Optionally an image may be added.

  Note: Not to be confused with the "Banner Section",
  which serves a similar purpose, but is much larger and configurable as a page section.
  */

.banner
  overflow: hidden
  padding-top: 3rem
  margin-bottom: 3rem

  &-title
    letter-spacing: 1px
    font-size: 1.85em
    color: $color-text-dark
    font-weight: $font-semibold
    line-height: 78px
    margin: 0

  &-title-box
    z-index: 1
    display: flex
    align-items: center

    // Add a gradient behind the title text
    &:before
      @include overlay(0, auto, -375px, auto)
      background: linear-gradient(to right,rgba(255,255,255,.01) 0,rgba(255,255,255,.18) 25%,rgba(197,224,220,.3) 100%)

      display: block
      content: ''
      opacity: 0.5
      height: 100%
      width: 705px
      z-index: -1

    > svg
      width: 40px
      margin: 0 22px

      &:first-child
        transform: rotate(-90deg)

      &:last-child
        transform: rotate(90deg) scaleX(-1)

  &-background
    position: absolute
    top: 0
    bottom: 0
    right: 0
    left: 0
    z-index: -1

    background-repeat: no-repeat
    background-position: center
    background-size: cover
    width: 100%
    height: 100%

    &.mobile-only + .banner-background
      @include mobile
        display: none


// ===== TEXT BANNER WITH AN IMAGE ===== //
// A simple banner can have an image added to it
.banner.with-image
  background-size: cover
  background-position: center

  @include laptop-or-larger
    min-height: 45vh

  .banner-title
    color: white

  .banner-title-box:before
    background: linear-gradient(to right, rgba(255,255,255,0) 0, rgba(255,255,255,.18) 25%, rgba(241,212,175,.7) 100%)


// ===== FULL WIDTH TEXT BANNER ===== //
// Used on short pages that general feature just one idea.
// For example, meditations, treatments, or the music page.
.banner.full-width
  overflow: hidden

  .banner-title
    font-size: 2.5em
    font-weight: $font-bold
    line-height: 150px

    display: flex
    align-items: center
    justify-content: center

  .banner-title-box
    justify-content: center

    &:before
      width: 100%
      left: auto
      right: 50%
