@import "../../mixins/functions"
@import "../../mixins/vars"

/* CHAPTERS
  Some pages with long content (namely articles), break up their content into "chapters"
  A chapters element shows a list of chapters with their names and the current progress through reading them.
  */

.chapters
  height: 74px
  margin-bottom: 74px
  font-size: 16px

  @include mobile
    height: 54px
    margin-bottom: 25px

  &-wrapper
    position: relative
    display: flex
    z-index: 35
    height: 74px
    background: white

    @include mobile
      height: 54px

  &-item
    flex: 1
    display: flex
    align-items: center
    position: relative
    padding: 0 15px
    border-bottom: 1px solid $color-text-normal

    // If there are too many elements hide them for tablet views
    &:nth-child(n+7)
      @include tablet
        display: none

    // For a mobile view we only show only item at a time.
    &:not(:first-child)
      @include mobile
        display: none

    // An active item represents the chapter which is currently being viewed.
    &.active
      .chapters-number,
      .chapters-title
        color: $color-text-darker

    &-title
      font-size: 0.75em
      line-height: 1.375em
      color: $color-text-light
      font-weight: $font-semibold

    &-number
      margin-right: 15px
      font-size: 2.5em
      font-weight: $font-lighter
      color: $color-text-light

    &-progress
      position: absolute
      bottom: -2px
      left: 0
      height: 3px
      background-color: $color-chapters-progress
      transition: width 0.1s linear


// ===== STICKY CHAPTERS ===== //
// When the user scrolls down the page, the chapters block should stick to the top of the page and scroll with them.
.sticky.chapters .chapters
  &-wrapper
    position: fixed
    left: 0
    right: 0

  &-item
    &.active
      display: flex

    &:not(.active)
      @include tablet-or-smaller
        display: none
