@import "../../mixins/functions"
@import "../../mixins/vars"

/* GRID
  A grid uses the Isotope library to display and filter blocks of content.
  Usually they are sorted in a pinterest style.
  */

.grid
  position: relative
  margin: auto

  &-wrapper
    @include laptop-or-larger
      padding: 0 4%

  // Define some default grid widths for different screen sizes
  &-sizer,
  &-item
    width: 100%
    box-sizing: border-box

    @include desktop
      width: 25%

    @include laptop
      width: 33.3333%

    @include tablet
      width: 50%

  &-item
    padding: 0 10px
    margin-bottom: 3em

    @include tablet
      padding: 0 25px

  // Some extra styling for the button that loads more items
  &-loadmore
    margin-bottom: 2em
    text-align: center
