@import "../../mixins/functions"
@import "../../mixins/vars"

/* QUOTE
  This file defines styling for a quote block that might be included in article or any other page.
  */

.quote
  margin: 72px 0

  &-text
    font-size: 1.25rem
    line-height: 2.25rem
    color: $color-text-dark
    font-weight: $font-medium
    margin-bottom: 1.25em
    margin-top: 50px

  &-credit
    font-size: 1em
    line-height: 2em
    font-weight: $font-medium

  &-subtitle
    font-size: 0.8em
    font-weight: $font-normal
    margin-bottom: 50px
