@import "../../mixins/functions"
@import "../../mixins/vars"

/* TEXT BOX
  This is a float box which contains text,
  and is usually displayed partially covering some other content, like an image.
  */

// ===== TEXT BOX OVERLAY ===== //
// The overlay is used to wrap and position the text box.
.text-box-overlay
  display: flex
  flex-direction: column
  justify-content: center

  position: absolute
  left: 50%
  right: 49%
  top: 6%
  min-height: 88%
  width: 100%

  @include tablet-or-smaller
    position: static

  @include tablet
    left: 20px
    right: 15px
    width: auto

  @include mobile
    height: auto
    clear: both
    min-height: 0

  > .text-box
    @include laptop
      margin-left: -410px

    @include desktop
      margin-left: -480px

// ===== TEXT BOX ===== //
// This is the text box itself
.text-box
  background: white
  //max-height: 480px // TODO: Delete this
  overflow: hidden
  margin: auto

  @include tablet
    max-width: 510px
    padding: 65px

  @include tablet-or-larger
    padding: 100px 110px

  @include laptop-or-larger
    max-width: 670px

  @include desktop
    padding: 100px 110px
    width: 670px

  > :first-child
    margin-top: 0

  > :last-child
    margin-bottom: 0

  > .button-box
    margin-top: 1.8em
    background: white

    @include laptop
      font-size: 1.1em
      margin-top: 1.3em
      padding: 1.4em 2em

  // If the background content is bright, then the text box can need to be inverted.
  &.inverse
    border: 2px solid $color-text-inverse

    .text-title, p
      color: $color-text-inverse

      @include mobile
        color: $color-text-normal

    > .button-box
      background: transparent

      @include mobile
        color: $color-text-dark
        border-color: $color-text-dark
