@import "../../mixins/functions"
@import "../../mixins/vars"

/* TREATMENTS LIST
  Styling to display a list of treatments
  */

.treatments
  &-list
    max-width: 920px
    margin: auto
    padding: 2px 0

    @include tablet
      padding: 2px 30px

  &-item
    position: relative
    margin-top: 150px

    display: flex
    flex-basis: 100%
    flex-wrap: nowrap
    align-items: flex-start

    @include tablet-or-smaller
      flex-direction: column !important

    // Add a gradient
    &:after
      display: block
      content: ''

      position: absolute
      top: -106px

      height: 210px
      width: 722px
      opacity: 0.5
      z-index: -1

    .video-button
      position: absolute
      bottom: -55px
      right: -65px

      width: 120px
      height: 120px
      padding: 16px

    > .image
      position: relative
      min-width: 360px
      width: 360px
      max-width: 100%
      align-self: flex-start

      @include tablet
        max-width: 50%

    &.reverse
      flex-direction: row-reverse

      .video-button
        left: -55px
        right: auto

      > .image
        @include tablet-or-smaller
          align-self: flex-end

    &-number
      position: absolute
      top: -70px

      color: $color-text-lightest
      font-size: 2em
      font-weight: $font-lighter

    &-content
      @include tablet-or-smaller
        margin-top: 30px
        max-width: 360px

      > .button-box
        margin-top: 1.75em
        padding: 1.4em

    &-title
      font-size: 1.25em
      font-weight: $font-semibold
      color: $color-text-dark

    &-text
      font-size: 1.1em
      line-height: 1.55em


// ===== ALTERNATING PATTERN ===== //
.treatments-item
  &:nth-child(even)
    .image
      margin-left: 40px

      @include laptop-or-larger
        margin-left: 87px

    // Adjust the gradient
    &:after
      right: -466px
      background: linear-gradient(to left,rgba(255,255,255,0) 0,rgba(255,255,255,.18) 25%,rgba(241,212,175,.7) 100%)

    .treatments-item-number
      right: 0

  &:nth-child(odd)
    .image
      margin-right: 40px

      @include laptop-or-larger
        margin-right: 87px

    // Adjust the gradient
    &:after
      left: -466px
      background: linear-gradient(to right,rgba(255,255,255,.01) 0,rgba(255,255,255,.18) 25%,rgba(197,224,220,.3) 100%)

    .treatments-item-number
      left: 0
