@import "../../mixins/functions"
@import "../../mixins/vars"

/* WRAPPERS
  Throughout the site there are a couple common sizes that content has to be constrained to.
  */

.wrapper
  width: 100%
  padding: 0 10px

  &-outer
    position: relative
    width: 100%
    max-width: 1280px
    margin: 0 auto
    padding: 0 15px

    @include desktop
      width: 94%

    @include mobile
      padding: 0 25px

    &:after
      content: ''
      display: block
      clear: both

  &-inner
    width: 100%
    padding: 0 10px
    max-width: 766px
    margin: 0 auto

    @include mobile
      padding: 0 35px

// TODO: Evaluate if this background-wrapper is still being used. If it is, comment it properly.
.background-wrapper
  background-repeat: no-repeat
  background-position: center
  background-size: cover
  width: 100%
  height: 100%

  &.mobile-only + .background-wrapper
    @include mobile
      display: none
