@import "../../mixins/device_media"

.with.decoration
  &.triangle:after
    content: ''
    display: block

    position: absolute
    right: 5px
    bottom: -96px
    width: 246px
    height: 216px

    background: image-url('graphics/triangle.svg') no-repeat center
    background-size: cover
    z-index: 10

@include desktop
  .with.triangle.decoration:after
    bottom: -140px
    width: 354px
    height: 314px
