@import "../../mixins/functions"
@import "../../mixins/vars"

.button
  position: relative
  display: inline-block
  background: transparent
  cursor: pointer
  text-align: center
  color: $color-text-normal

  &.box
    border: 1px solid $color-text-dark
    color: $color-text-dark
    padding: 1.4em 2em
    font-family: $raleway-bold
    font-size: 0.875em

    &:after
      background: $light-blue

    &:hover:not(.filter)
      border-color: $light-blue
      color: $color-text-normal

  &.filter
    width: 130px
    padding: 2px 0
    font-family: $raleway-semi
    font-size: 16px // TODO: Inconsistent use of px vs rem/em
    line-height: 1.8125em

  &.video
    position: relative
    width: 160px
    height: 160px
    padding: 32px

    border: 1px solid transparent
    transition: all .5s ease

    &:hover
      border: 1px solid #dcdcdc

    &:after
      background-image: image-url('graphics/play-video.svg')
      display: block
      content: ''
      width: 100%
      height: 100%

  &:not(.video):before
    background: $background-gray
    content: ''
    z-index: -2
    transition: all 1s ease
    @include overlay(0, 0, 50%, 50%)

  &.active:before,
  &:hover:before
    left: 0
    right: 0

.wrapper
  width: 100%
  margin: auto

  &.section
    max-width: 746px

  &.video
    max-width: 554px

.background
  background-position: center
  width: 100%
  height: 100%

figcaption.credit
  position: absolute
  writing-mode: vertical-rl
  transform: rotate(180deg)
  bottom: 0
  right: 100%
  margin-right: 15px
  margin-bottom: 5px
  color: $color-text-lighter
  white-space: nowrap
  font-size: 0.9em

.illustration.divider
  max-width: 400px
  width: 100%
  margin: auto
  background-color: #aaaaa9
  height: 1px
  border: none
  position: relative

  &:after
    content: ''
    position: absolute
    left: 50%
    top: 2px

    padding: 0 20px
    display: block
    font-size: 1.8em
    width: 0.9em
    height: 1em

    background-color: white
    background-image: image-url('graphics/leaf.svg')
    background-repeat: no-repeat
    background-position: center

    transform-origin: center
    transform: translateX(-50%) translateY(-100%)

  &.post:after
    top: -2px
    transform-origin: center
    transform: rotate(180deg) translateX(50%)

  &.simple
    height: 0

    &:after
      background-color: transparent

a:not(:hover) > .overlay
  opacity: 0

.overlay
  @include overlay(0, 0, 0, 0)
  transition: all .5s ease
  background-color: rgba(0,0,0,0.5)
  color: white
  text-align: center

  display: flex
  align-items: center
  justify-content: center

.video-preview
  position: relative
  text-align: center

  .button
    position: absolute
    top: 50%
    left: 50%
    margin-top: -80px
    margin-left: -80px

.sidetext
  position: absolute
  white-space: nowrap
  color: $color-text-inverse
  text-transform: uppercase
  transform: rotate(-90deg)
  z-index: 5
  font-size: 2em
  left: 30px
  top: 100%
  text-align: right
  transform-origin: top left

.carousel
  max-width: 1000px
  width: 100%
  overflox-x: hidden

  .owl-stage
    display: flex

#video-popup
  width: 544px
  max-width: 1280px
  min-width: 80%
  margin: auto
