@import "../../mixins/vars"

footer
  margin-top: 5rem !important

  .title
    color: $color-text-normal

  .sidetext
    color: $color-text-inverse
    letter-spacing: 0
    font-size: 2em
    z-index: 5

  a:hover
    color: $color-text-dark

  .divider
    display: flex
    align-items: center
    margin-bottom: 35px

    .illustration
      min-width: 188px
      height: 48px
      margin: 0px 20px

    &:before,
    &:after
      content: ''
      margin-top: -2px
      height: 1px
      width: 100%
      position: relative
      background-color: $color-divider-normal
      display: inline-block

  .columns
    display: flex
    justify-content: space-between
    flex-wrap: wrap
    border-bottom: 1px solid $color-divider-normal
    padding: 0 4%

    @include mobile
      display: block

    > *
      margin-bottom: 66px
      flex-grow: 0

      @include mobile
        margin-bottom: 36px
        text-align: center !important

      &:last-child
        flex-grow: 0.1
        text-align: right

    nav
      > a
        display: block
        line-height: 2em
        font-size: 0.75em

      .title
        line-height: 1.75em
        font-size: 1em
        margin-bottom: 1px

      .social
        margin-top: 0.9em

        @include mobile
          font-size: 1.75em
          margin-top: 0.6em

        > a
          margin-right: 0.75em

          &:last-child
            margin-right: 0

  .credit
    height: 2.5em

  .copyright
    text-align: center
    line-height: 110px
    font-size: 12px

section.share
  font-size: 0.75em
  line-height: 1.5em

  span
    margin-right: 2.75em

  a
    color: $color-text-lighter
    font-size: 1.4em
    margin: 0 0.5em

section.footer
  min-height: 1370px
  //min-height: 155vh
  background-image: image-url('footer/together.png')
  background-position: center
  background-size: cover
  background-repeat: no-repeat
  margin-bottom: 6em

  @include desktop-lg
    margin-bottom: 19em

  @include mobile
    min-height: auto
    background-size: 1200px 890px
    background-position: bottom center
    margin-bottom: 9em

  &:before
    content: ''
    display: block

    position: absolute
    top: 0
    bottom: 0
    left: 0
    z-index: 0

    width: 36.5%
    height: 108%
    background: linear-gradient(to right,rgba(255,255,255,.01) 0,rgba(255,255,255,.18) 25%,rgba(197,224,220,.3) 100%)

    @include desktop-lg
      height: 111%

  .container
    padding-top: 230px
    padding-bottom: 450px

    @include desktop-lg
      padding-top: 260px

    @include tablet
      padding-top: 260px

    @include mobile
      padding: 0 15px 450px

  .title
    font-size: 2.8em
    line-height: 1.25em
    color: $color-text-dark
    font-family: $raleway-medium
    margin-bottom: 0

    @include desktop-lg
      font-size: 3.13em

    @include laptop
      margin-bottom: 12px

    @include tablet
      font-size: 3.1em
      margin-bottom: 12px

    @include mobile
      font-size: 1.88em

  .sub.title
    font-size: 1.75em
    line-height: 1.25em
    color: $color-text-normal
    font-family: $raleway

    @include laptop
      font-size: 1.63em

  .actions
    display: flex
    justify-content: space-between
    text-align: center
    max-width: 935px
    margin-top: 134px

    @include desktop-lg
      max-width: 1000px
      margin-top: 162px

    @include laptop
      max-width: 795px
      margin-top: 170px

    @include tablet
      max-width: 630px
      margin-top: 230px

    .item
      width: 164px

    .item > *
      color: $color-text-dark
      transition: all .5s ease

    .item:hover > *
      color: $color-text-orange

    i.icon
      font-size: 4.4em
      margin-bottom: 0.45em

      @include laptop
        margin-bottom: 0.35em

    .title
      font-size: 1.35em
      line-height: 1.38em
      font-family: $raleway-semi

      @include laptop
        font-size: 1.3em

  @include mobile
    &::before
      top: 17%
      width: 36%
      height: 90%

    .title
      font-size: 1.88em
      line-height: 1em
      margin-bottom: 1em
      padding: 0 1em

    .sub.title
      font-size: 1.5em

    .sidetext
      width: 1080px
      padding-left: 450px
      font-size: 1.95em
      color: $color-text-normal

    .actions
      height: 603px
      margin-top: 85px
      flex-direction: column
      align-items: flex-end

      &.wrapper
        padding: 0 15px

      .title
        font-size: 1.44em

      .item
        i.icon
          font-size: 5.1em
          margin-bottom: 0.2em

          &.computer
            font-size: 4.4em

        .title
          font-size: 1.1em
          line-height: 1.45em
