@import "../../mixins/device_media"

.container
  position: relative
  max-width: 1280px
  margin: 0 auto
  padding: 0 15px

.mobile
  display: none

@include mobile
  .container
    margin: 0 25px

  .mobile
    display: block

  .desktop
    display: none
