@import "../../mixins/vars"

html
  overflow-x: hidden

  @include tablet
    zoom: 1.1

ul
  list-style: none
  padding: 0

svg, img
  max-width: 100%

figure
  position: relative
  margin: 0

.centered
  text-align: center

.mobile
  display: none

  @include mobile
    display: block

.desktop
  @include mobile
    display: none
