@import "../../mixins/device_media"

.container
  position: relative
  max-width: 1280px
  margin: 0 auto
  padding: 0 15px

  &:after
    content: ''
    display: block
    clear: both

.mobile
  display: none

ul
  list-style: none
  padding: 0

svg, img
  max-width: 100%

figure
  position: relative
  margin: 0

input
  width: 100%
  max-width: 510px
  font-size: 1.125rem
  outline: transparent
  background-color: transparent
  border-radius: 0
  padding-bottom: 18px
  color: $color-text-dark
  border: none
  border-bottom: 1px solid $color-text-normal
  margin-bottom: 3.5rem

.centered
  text-align: center

@include mobile
  .container
    margin: 0 25px

  .mobile
    display: block

  .desktop
    display: none
