@import "../../mixins/vars"
@import "../../mixins/functions"

header
  position: relative
  min-height: 85px
  z-index: 1000

  @include desktop
    padding-top: 5px

  .mobile
    display: block

    @include tablet-or-larger
      display: none

  .desktop
    display: none

    @include tablet-or-larger
      display: block

  .burger-buttom
    cursor: pointer

  > .background
    z-index: 1000
    height: auto

  &:not(.inverse)
    .mobile
      @include mobile
        background: #fff


  > .menu
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    text-align: center

    position: fixed
    top: 0
    bottom: 0
    left: 0
    right: 0
    z-index: 900

    height: 0
    overflow: hidden
    transition: height 0.5s ease
    background: $background-white

    > a
      width: 100%
      font-size: 1.125em
      line-height: 3em
      transition: all .3s ease

      &:hover,
      &.active
        background: $background-gray

    @include tablet-or-smaller
      .item
        display: block
        width: 100%

        > a
          font-size: 1.125em
          padding: 15px 0
          background-color: transparent

          &:before
            display: none

          &:hover
            color: inherit
            
      .container
        padding: 0

      .title,
      .related-post
        display: none
        visibility: hidden

      .links
        opacity: 0
        max-height: 0
        transition: all 0.5s .3s ease

        a
          display: block
          font-size: 1em
          padding: 8px 0
          opacity: .6
          color: $color-text-normal

          &:hover
            opacity: 1
            color: $color-text-normal

      .item
        transition: all 0.5s .3s ease

        &.item-list
          .button
            padding-right: 25px

            &:after
              content: ''
              position: absolute
              display: inline-block
              right: 0
              top: 50%

              width: 8px
              height: 8px

              border-left: 1px solid $color-text-normal
              border-bottom: 1px solid $color-text-normal
              transform: rotate(-45deg)
              margin-top: -7px

      .show-content
        background: linear-gradient(to right,rgba(255,255,255,.01) 0,rgba(255,255,255,.18) 25%,rgba(197,224,220,.3) 100%)

        .links
          opacity: 1
          max-height: 300px
          margin-top: 0
          transition: all 0.25s 0s ease

        &.item
          &.item-list
            .button
              &:after
                transform: rotate(135deg)
                margin-top: -4px

  .full.topline,
  .menubar,
  .breadcrumbs
    transition: all 0.5s ease

  &.sticky
    .full.topline,
    .breadcrumbs
      display: none !important

    .background
      position: fixed
      top: 0
      left: 0
      right: 0
      background: $background-white

  &:not(.sticky)
    .menubar
      > .logo,
      > .classes
        opacity: 0

  .topline
    display: flex
    justify-content: space-between
    align-items: flex-end

    text-align: center
    padding: 19px 0
    border-bottom: 1px solid $light-gray

    .logo svg
      width: 60px
      height: 43px
      max-height: 100%

    a
      color: $color-text-normal
      text-decoration: none
      z-index: 1
      cursor: pointer

    svg, img
      height: 100%

    .burger-button,
    .logo
      svg path
        fill: #555

    .illustration-wrapper
      z-index: 0

      svg path
        stroke: #555

  .desktop
    .full.topline
      position: relative
      height: 138px

      .logo, .action
        padding-bottom: 20px
        font-size: 0.875em

      .action
        color: #555
        font-family: $raleway-medium

    .illustration-wrapper
      position: absolute
      left: 0
      right: 0
      top: 15px

      svg
        height: 100px
        max-width: 65%

    > .menubar
      display: flex
      justify-content: space-around
      align-items: center
      position: relative

      font-size: 1em
      font-family: $raleway-medium
      border-bottom: 1px solid $light-gray

      .logo, .classes
        position: absolute
        text-align: center
        top: 0
        bottom: 0
        width: 50px
        padding: 9px

        svg
          height: 100%

      .logo
        left: 0

        svg path
          stroke: #555

      .classes
        right: 0
        padding: 6.2px 0
        width: 40px

      .title
        font-family: $raleway-semi
        color: $color-text-dark

      > .item
        > a
          padding: 0 2rem
          line-height: 2.18rem

          @include desktop
            padding: 0 5.5rem
            line-height: 2.25rem

          &:hover
            color: $color-text-normal

        > .container
          @include overlay(102%, auto, 0, 0)
          position: absolute
          background: $background-gray
          padding: 0
          z-index: 10
          transition: max-height 0.5s cubic-bezier(.02, .01, .47, 1)
          transition-delay: 0.3s
          overflow: hidden
          max-height: 500px

          &:before
            content: ''
            position: absolute
            top: 0
            right: 0
            height: 100%
            min-height: 380px
            width: 1250px
            max-width: 90%
            background: image-url("header/menu-background.png") no-repeat top right
            background-size: 100% 100%

        &:not(:hover) > .container:not(:hover)
          max-height: 0

      .container
        > *
          padding-left: 80px
          padding-right: 20px

          @include desktop
            padding-left: 92px

          @include tablet
            padding-left: 30px

        > .title
          font-size: 1.5em
          color: $dark-gray
          border-bottom: 1px solid $background-gray-divider
          line-height: 58px
          margin: 0
          position: relative

          @include tablet-or-smaller
            display: none

        > .content
          display: flex
          align-items: flex-start
          justify-content: space-between
          position: relative
          padding-bottom: 18px

          @include tablet-or-smaller
            display: none

        ul
          flex-shrink: 0
          width: 30%
          margin: 33px 0 20px

          li
            margin-bottom: 10px

            a
              line-height: 21px
              font-size: 1.125em
              font-family: $raleway-medium
              color: $color-text-normal

            a:hover
              color: $color-text-blue

      .related-post
        margin-left: 18px
        flex-grow: 1

        @include tablet-or-smaller
          display: none

        &-wrap
          display: flex
          flex: 1 1 auto
          max-width: 640px

        > .title
          position: absolute
          bottom: 100%
          margin-bottom: 1em
          font-size: .75em // TODO: Inconsistent use of rem vs px
          line-height: 1.75em

        a
          position: relative
          display: flex
          justify-content: center
          align-items: flex-start
          overflow: hidden
          background-position: center
          font-family: $raleway-semi
          font-size: 1.125rem
          max-width: 100%

        img
          width: 100%
          height: auto
          display: block

        .overlay:after
            content: ''
            display: block
            position: absolute
            bottom: 16px
            left: 50%
            margin-left: -35.5px

            width: 71px
            height: 16px

            background: image-url('graphics/lotus-decoration.svg') center

    > .breadcrumbs
      position: absolute
      margin-top: 2.25em
      font-size: 0.7em
      z-index: 5

      .item
        display: inline-block

        &:not([href])
          color: black

      &.inverse .item
        color: $color-text-lighter

        &:not([href])
          color: $color-text-normal

      .item:not(:last-child)::after
        font-family: $wemeditate-icons !important
        content: $icon-breadcrumb
        margin: 0 0.9em
        font-size: 0.5em

  .mobile
    position: fixed !important
    top: 0 !important
    left: 0
    right: 0

    .topline
      height: 87px
      align-items: center

      > *
        display: inline-block
        height: 34px
        margin-left: -5px

    .burger-button
      position: relative
      top: 5px

  // INVERSE TRANSITIONS
  .topline .logo svg path,
  .illustration-wrapper svg path,
  .burger-button svg path,
  .container, .topline, .menubar, a
    transition: all 0.2s ease

html:not(.show-menu)
  header.inverse
    .background
      background: transparent

    .menubar .logo,
    .illustration-wrapper,
    .burger-button
      svg path
        stroke: $color-text-inverse

    .topline .logo,
    .classes
      svg path
        fill: $color-text-inverse

    a
      color: $color-text-inverse

    .topline,
    .menubar
      border-color: $color-text-inverse

html.show-menu
  overflow: hidden

  header
    position: static
    
    .mobile
      z-index: 999
    
    > .menu
      height: 100%
      background: $background-white

      @include laptop-or-larger
        display: none

      .active
        color: #000

    .topline
      border-bottom: 1px solid transparent

      > a
        visibility: hidden

        &.burger-button,
        &.logo
          visibility: visible

    .burger-button
      position: relative
      top: 0

      &:before, &:after
        content: ""
        position: absolute
        background-color: #555
        top: 15px
        left: 0
        right: 0
        transition: all .5s ease
        width: 30px
        height: 1px
        margin: 0 auto

      &:before
        transform: rotateZ(.7854rad)

      &:after
        transform: rotateZ(-.7854rad)

      svg
        opacity: 0


.sticky
  .desktop
    .logo
      svg
        width: 24.5em
        height: 18px

    .classes
      svg
        width: 19px
        height: 24px

  .mobile
    background: $color-text-inverse

    .logo,
    .illustration-wrapper,
    .burger-button
      svg path
        stroke: $color-text-normal !important