@import "../../mixins/vars"
@import "../../mixins/functions"

header
  position: relative
  min-height: 85px
  z-index: 1000
  padding-top: 5px

  .burger-buttom
    cursor: pointer

  > .background
    z-index: 1000
    height: auto

    > .container
      @include laptop
        max-width: 1152px

  > .menu
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    text-align: center
    background: white

    position: fixed
    top: 0
    bottom: 0
    left: 0
    right: 0
    z-index: 900

    height: 0
    overflow: hidden
    transition: height 0.5s ease

    > a
      width: 100%
      font-size: 1.125em
      line-height: 3em
      transition: all .3s ease

      &:hover,
      &.active
        background: $background-gray

  .full.topline,
  .menubar,
  .breadcrumbs,
    transition: all 0.5s ease

  &.sticky
    .full.topline,
    .breadcrumbs,
      display: none !important

    .background
      position: fixed
      top: 0
      left: 0
      right: 0
      background: white

  &:not(.sticky)
    .menubar
      > .logo,
      > .classes
        opacity: 0

  .topline
    display: flex
    justify-content: space-between
    align-items: flex-end

    text-align: center
    padding: 20px 0
    border-bottom: 1px solid $light-gray

    .logo svg
      width: 60px

    a
      color: $color-text-normal
      text-decoration: none
      z-index: 1

    svg, img
      height: 100%

    .burger-button,
    .logo,
      svg path
        fill: #555

    .illustration-wrapper
      z-index: 0

      svg path
        stroke: #555

  .desktop
    .full.topline
      height: 138px

      .logo, .action
        padding-bottom: 18px
        font-size: 0.85em

    .illustration-wrapper
      position: absolute
      left: 0
      right: 0

      svg
        height: 100px
        max-width: 65%

    > .menubar
      display: flex
      justify-content: space-evenly
      align-items: center
      position: relative

      font-size: 0.95em
      font-family: $raleway-medium
      border-bottom: 1px solid $light-gray

      .logo, .classes
        position: absolute
        text-align: center
        top: 0
        bottom: 0
        width: 50px
        padding: 9px

        svg
          height: 100%

        svg path
          stroke: #555

      .logo
        left: 0

        svg path
          fill: none
          stroke-width: 1px

      .classes
        right: 0

      .title
        font-family: $raleway-semi
        color: $color-text-dark

      > .item
        > a
          padding: 0 1rem
          line-height: 2.25rem

          &:hover
            color: darken($color-text-normal, 20%)

        > .container
          @include overlay(100%, auto, 0, 0)
          background: $background-gray image-url("header/menu-background.png") bottom right
          background-position: top
          padding: 0
          z-index: 10
          transition: height 0.5s cubic-bezier(.02, .01, .47, 1)
          transition-delay: 0.3s
          overflow: hidden
          height: 320px

        &:not(:hover) > .container:not(:hover)
          height: 0

      .container
        > *
          padding-left: 80px
          padding-right: 18px

          @include tablet
            padding-left: 30px

        > .title
          font-size: 24px
          color: $dark-gray
          border-bottom: 1px solid $background-gray-divider
          line-height: 58px
          margin: 0

        > .content
          display: flex
          align-items: flex-start
          position: relative

        ul
          flex-grow: 1

          li
            margin-bottom: 10px

            a
              line-height: 21px
              font-size: 18px
              font-family: $raleway-medium
              color: $color-text-normal

            a:hover
              color: $color-text-blue

      .related-post
        margin-left: 18px
        margin-bottom: 18px
        max-width: 30%
        height: 100%

        > .title
          position: absolute
          bottom: 100%
          margin-bottom: 1em
          font-size: 12px // TODO: Inconsistent use of rem vs px
          line-height: 1.75em

        a
          position: relative
          display: inline-block
          overflow: hidden
          background-position: center

        img
          max-height: 242px

        .overlay:after
            content: ''
            display: block
            position: absolute
            bottom: 10px
            left: 50%
            margin-left: -35.5px

            width: 71px
            height: 16px

            background: image-url('graphics/lotus-decoration.svg') center

    > .breadcrumbs
      position: absolute
      margin-top: 2.25em
      font-size: 0.7em
      z-index: 5

      .item
        display: inline-block

        &:not([href])
          color: black

      &.inverse .item
        color: $color-text-lighter

        &:not([href])
          color: $color-text-normal

      .item:not(:last-child)::after
        font-family: $wemeditate-icons !important
        content: $icon-breadcrumb
        margin: 0 0.9em
        font-size: 0.5em

  .mobile
    position: fixed
    top: 0
    left: 0
    right: 0
    background: white

    .topline
      height: 85px
      align-items: center

      > *
        display: inline-block
        height: 32px

  // INVERSE TRANSITIONS
  .topline .logo svg path,
  .illustration-wrapper svg path,
  .burger-button svg path,
  .container, .topline, .menubar, a
    transition: all 0.2s ease

html:not(.show-menu)
  header.inverse
    .background
      background: transparent

    .menubar .logo,
    .illustration-wrapper,
    .burger-button
      svg path
        stroke: white

    .topline .logo,
    .classes
      svg path
        fill: white

    a
      color: white

    .topline,
    .menubar
      border-color: white

html.show-menu
  overflow: hidden

  header
    position: static

    > .menu
      height: 100%

      @include tablet-or-larger
        display: none
