
.ce-toolbar__settings-btn--decorations
  display: block
  position: absolute
  top: 35px
  right: -35px

.ce-block:not(.ce-block--focused)
  .ce-toolbar__settings-btn--decorations,
  .ce-settings--decorations
    display: none

.ce-settings--decorations
  width: 172px
  top: 70px
  right: -40px

.ce-settings--decorations
  .cdx-settings-button
    width: 36px
    margin: 0
    margin-right: 5px !important

  .cdx-settings-button:last-child
    margin-right: 0 !important

.ce-settings__input-zone
  padding-left: 6px
  padding-right: 6px

.ce-settings__input-zone > *
  margin-bottom: 6px

.ce-settings-input
  width: 100%
  border: 1px solid rgba(34, 36, 38, 0.15)
  border-radius: 2px
  padding: 5px
