
.ce-toolbar__settings-btn
  display: block

.ce-settings--decorations
  width: 172px
  top: 60px

.ce-settings--decorations
  .cdx-settings-button
    width: 50px

.ce-settings__input-zone
  padding-left: 6px
  padding-right: 6px

.ce-settings__input-zone > *
  margin-bottom: 6px

.ce-settings-input
  width: 100%
  border: 1px solid rgba(34, 36, 38, 0.15)
  border-radius: 2px
  padding: 5px
