
.codex-editor
  max-width: 650px

.codex-editor__redactor
  min-height: 260px
  padding-bottom: 30px

.ce-block
  padding-left: 10px
  padding-right: 45px
  border: solid transparent
  border-width: 0 2px

.ce-block--focused
  background: none
  border-color: transparentize(black, 0.5)

.cdx-block
  padding-bottom: 1em

.ce-paragraph
  min-height: 3em

.ce-toolbox
  left: 5px

.ce-toolbox__button--active
  animation: none

.ce-settings__default-zone
  padding: 2px !important

// SETTINGS
.ce-settings i.icon
  height: auto

.ce-settings label
  padding: 4px
  padding-top: 0
  font-weight: bold
  font-size: 10px
  text-transform: uppercase
  opacity: 0.8

.cdx-settings-button--disabled
  cursor: default
  opacity: 0.8
  background: none !important

.ce-settings__tunes
  margin-bottom: 4px
  padding-bottom: 8px
  border-bottom: 1px solid lightgray

.ce-settings__inputs
  margin-top: 8px
  font-size: 11.5px
  width: 108px
  
  > *
    margin: 4px 0
    padding: 0 4px
    border-bottom: 1px dashed transparentize(#388ae5, 0.5)

  .ui.input
    width: 100% !important

  .ui.dropdown > .text
    font-weight: normal !important

  input
    width: 100%

// INPUTS
.cdx-input
  outline: none
  border: none
  box-shadow: none
  padding: 0
  border-radius: 0

  &--title
    font-weight: bold
    margin-bottom: 10px

  &--textarea
    min-height: 58px
    resize: none

  &--caption
    font-style: italic

  &--url
    padding: 0 5px
    opacity: 0.8
    font-style: italic

  &--button
    border: 2px solid darkgray
    margin-top: 10px
    margin-bottom: 5px
    padding: 0.5em 1em
    text-align: center

    display: inline-block
    min-width: 120px
    max-width: 200px
    width: auto
    white-space: nowrap
    overflow: hidden

.cdx-semantic-input
  outline: none
  width: 100%
  tap-highlight-color: rgba(255, 255, 255, 0)
  line-height: 1.21428571em
  min-height: 2.57142857em
  padding: 0.67857143em 1em
  font-size: 1em
  background: #FFFFFF
  border: 1px solid rgba(34, 36, 38, 0.15)
  color: rgba(0, 0, 0, 0.87)
  border-radius: 0.28571429rem
  box-shadow: 0em 0em 0em 0em transparent inset
  transition: color 0.1s ease, border-color 0.1s ease

  &:focus
    color: rgba(0, 0, 0, 0.95)
    border-color: #85B7D9
    border-radius: 0.28571429rem
    background: #FFFFFF
    box-shadow: 0px 0em 0em 0em rgba(34, 36, 38, 0.35) inset

// UPLOADER INPUT
.cdx-input__uploader
  border: 2px dashed lightgray
  border-radius: 6px
  color: lightgray
  text-align: center
  font-weight: bold
  font-size: 18px
  line-height: 20px
  padding: 10px
  transition: color 0.2s

  &:hover
    cursor: pointer
    border-color: gray
    color: gray

  &--dropping
    border-color: #85B7D9
    color: #85B7D9

  &--error
    border-color: lightred
    color: lightred

  input
    width: 0 !important
    height: 0 !important
    overflow: hidden !important
    padding: 0 !important
    border: none !important
