
// FIELDS
.cdx-header
  &__text
    font-size: 1.71428571rem
    padding: 0.5em 0
    margin: 0
    line-height: 1.25em
    outline: none

// SETTINGS
.cdx-header-settings .cdx-settings-button
  &__centered
    width: 100%

// TUNES
.cdx-header
  &--centered
    text-align: center
