@import "../../mixins/vars"

div.awesomplete
  width: 100%

  > ul
    box-shadow: none
    border-radius: 0
    text-align: left
    z-index: 700

    &:before
      display: none

    > li
      background: white
      border: none

      &:hover
        background: transparentize($background-blue, 0.5)

      &[aria-selected="true"]
        background: $background-blue
        color: $color-text-darker

      mark
        background: none !important
        font-family: $raleway-semi
