
= detail_review_block @record, 'published', icon: 'bullhorn', type: :boolean
= detail_review_block @record, 'slug', icon: 'linkify'
= detail_review_block @record, 'horizontal_vimeo_id', icon: 'play circle'
= detail_review_block @record, 'vertical_vimeo_id', icon: 'play circle'
= detail_review_block @record, 'metatags', icon: 'tags', type: :json
