@import "../../mixins/vars"

section.type-image
  &.format-fit-page-width
    .background
      height: 45vh
      background-size: cover

    figcaption.credit
      margin-bottom: 1em
      color: $color-text-inverse
