@import "../../mixins/vars"

section.type-quote
  margin-top: 7em

  blockquote
    margin: 80px 0

  .quote
    font-size: 1.5rem
    line-height: 2.25rem
    color: $color-text-dark
    font-family: $raleway-medium
    margin-bottom: 1.25em
    margin-top: 50px
    
  .credit
    font-size: 1rem
    line-height: 1.5rem
    font-family: $raleway-medium

  .subtitle
    font-size: 0.875rem
    font-family: $raleway
    margin-bottom: 50px
