@import "../../mixins/functions"
@import "../../mixins/vars"

section
  position: relative
  margin-bottom: 10em

  .title
    font-size: 1.35em
    line-height: 1.6em
    color: $color-text-dark
    font-family: $raleway-semi
    margin-bottom: 0.5em

  p
    font-size: 1em
    line-height: 1.85em
    letter-spacing: 0.1px
    margin-top: 0.5em
    color: $color-text-normal

  .callout
    float: right
    max-width: 360px
    width: 100%
    margin: 15px -120px 45px 50px

    &.text
      position: relative
      padding: 65px 0

      &:after
        content: ''
        position: absolute
        left: 17%
        top: 0
        bottom: 0
        right: 0

        z-index: -1
        background: linear-gradient(to left,rgba(255,255,255,.01) 0,rgba(255,255,255,.18) 25%,rgba(197,224,220,.3) 100%)

section.intro
  overflow: hidden

  .title
    letter-spacing: 1px
    font-size: 1.85em
    color: $color-text-dark
    font-weight: 700
    height: 78px
    line-height: 78px
    margin: 0
    margin-top: 5%

  .title:after
    display: block
    content: ''
    opacity: .5
    height: 100%
    width: 705px
    @include overlay(0, auto, -375px, auto)
    background: linear-gradient(to right,rgba(255,255,255,.01) 0,rgba(255,255,255,.18) 25%,rgba(197,224,220,.3) 100%)
