@import "../../mixins/vars"

section.type-special
  &.format-banner
    z-index: -1
    margin-top: -157px
    text-align: center

    .background
      height: 100vh

      display: flex
      flex-direction: column
      justify-content: center

    *
      color: white

  &.format-subtle-system
    text-align: center

    .chart svg
      height: 70vh
      margin-bottom: 2em

    .article
      position: absolute
      top: 4em
      width: 400px
      padding: 2em
      text-align: left

      p
        line-height: 1.4em

      &:nth-child(even)
        left: 0

      &:nth-child(odd)
        margin-top: 1em
        right: 0

    /*.article,*/
    .chart
      &:not(.active)
        display: none
