@import "../../mixins/vars"

section.type-special
  &.format-banner
    z-index: -1
    margin-top: -157px
    text-align: center

    .background
      height: 100vh

      display: flex
      flex-direction: column
      justify-content: center

    *
      color: white

  &.format-try-meditation
    margin-bottom: 220px

    img
      max-width: 45.75%

    .action
      display: flex
      text-align: center
      align-items: center
      position: absolute
      top: 0
      left: 72.875%
      margin-left: -150px
      font-size: 1.5em
      width: 300px
      height: 300px
      padding: 70px

    .content
      padding-left: 45.75%
      text-align: center
      position: absolute
      bottom: 75px
      left: 0
      right: 0

      h3, h4
        margin-top: 0
        margin-bottom: 0.6em
        font-size: 1.45em
        font-family: $raleway-bold

      h3
        margin-bottom: 0.15em

      &::before
        content: ''
        display: block
        position: absolute
        left: 0
        right: 0
        bottom: -178px
        z-index: -1
        height: 368px
        width: 100%
        background: linear-gradient(to right,rgba(232,232,232,.5) 0,rgba(255,255,255,.01) 100%)

      .video.button
        position: absolute
        margin-left: -80px
        left: 45.75%
        bottom: -32px

  &.format-subtle-system
    text-align: center

    .chart svg
      height: 70vh
      margin-bottom: 2em

    .article
      position: absolute
      top: 4em
      width: 400px
      padding: 2em
      text-align: left

      p
        line-height: 1.4em

      &:nth-child(even)
        left: 0

      &:nth-child(odd)
        margin-top: 1em
        right: 0

    /*.article,*/
    .chart
      &:not(.active)
        display: none
