@import "../../mixins/vars"

section.type-text
  .text.callout p
    margin: 0
    font-size: 1.15em
    line-height: 1.9em
    font-family: $raleway-semi
    color: $dark-gray

  .image.callout
    float: left
    margin: 40px 45px 40px -118px

    @include tablet-or-smaller
      margin-left: 0

section.type-text
  &.format-box-over-image,
  &.format-box-with-righthand-image,
  &.format-box-with-lefthand-image
    .content
      display: flex
      flex-direction: column
      justify-content: center

      position: absolute
      left: 50%
      top: 6%
      min-height: 88%
      width: 100%

      @include tablet
        position: static

    .content-box
      background: white
      padding: 100px 110px
      max-width: 670px
      max-height: 480px
      margin-left: -410px
      overflow: hidden

      @include desktop
        padding: 100px 110px
        width: 670px
        margin-left: -480px

      @include tablet-or-smaller
        max-height: none

      .box.button
        margin-top: 1.8em

        @include laptop
          font-size: 1.1em
          margin-top: 1.3em
          padding: 1em 2em
          min-width: 205px

        @include laptop-landscape
          padding: 1.4em 2em

      *:first-child
        margin-top: 0

      *:last-child
        margin-bottom: 0

    @include tablet
      .content
        left: 20px
        right: 15px
        width: auto

      .content-box
        max-width: 510px
        padding: 65px
        margin-left: 0 !important


    @include mobile-portrait
      .content-box
        width: auto
        margin: 3em 0 !important
        padding: 0 !important


    @include mobile
      .content
        position: static
        height: auto
        clear: both
        min-height: 0

      .content-box
        max-height: none

      .sidetext
        font-size: 1.875em
        letter-spacing: .1em


  &.format-box-over-image
    height: 100vh

    &.with.gradient
      &::before
        z-index: 0

        @include laptop
          width: 19vw

        @include tablet
          top: -10%

        @include tablet-or-smaller
          width: 13vw

    .background > img
      padding-left: 70px
      display: none

    @include tablet-or-larger
      .with.triangle
        position: absolute
        bottom: 0

        &.right
          right: 20px

        &.left
          left: 20px

    @include desktop
      .with.triangle
        &.right
          right: calc(50% - 600px)

        &.left
          left: calc(50% - 600px)

    @include desktop-lg
      .with.triangle
        &.right
          right: calc(50% - 640px)

        &.left
          left: calc(50% - 640px)

    @include mobile
      height: auto

      .content
        &-box.inverse
          .title, p
            color: $color-text-normal

          .box.button
            color: $color-text-dark
            border-color: $color-text-dark

      .background
        background-size: auto 57vh
        background-position-y: 0

        > img
          display: block
          height: 57vh
          opacity: 0

      .with.triangle::after
        left: 65%

    .sidetext
      padding-right: 7%

      @include mobile
        background-color: transparent
        margin-top: 20px
        padding-right: 0

    .content
      position: relative
      left: 50px

      @include mobile
        position: static
        padding: 0
        padding-right: 35px
        padding-left: 20px

      &-box
        max-width: 700px
        width: 45%
        background: transparent
        padding: 35px 40px
        margin-left: 2%
        @include laptop
          max-width: 680px
          margin-left: 0
          width: 100%
          padding: 100px 80px

        @include tablet
          max-width: 525px
          padding: 100px 80px
          width: auto

        &.inverse
          border: 2px solid $color-text-inverse

          .title, p
            color: $color-text-inverse

            @include mobile
              color: $color-text-normal

  &.format-box-with-righthand-image,
  &.format-box-with-lefthand-image
    .image
      &.with.circle.decoration::before
        position: absolute
        left: 64.5%
        bottom: 8.5%
        z-index: 10

        width: 560px
        height: 560px
        margin-left: -280px
        margin-bottom: -280px

      img
        height: 100vh
        max-height: 560px
        width: auto

        @include laptop-or-larger
          max-height: 800px

        @include mobile
          position: relative
          max-width: 100%
          max-height: 320px

    &.with.gradient:not(.gray)::before
      top: -15rem
      height: 26rem

  &.format-box-with-righthand-image
    .container.with.right.triangle.decoration::after
      right: -108px

    .image
      float: right

      @include tablet
        .content
          align-items: flex-end

    @include mobile
      .image
        margin: 0

        img
          margin-right: -25px

      .with.triangle::after
        right: 65%

    @include mobile-landscape
      .image
        img
          margin-right: 40px


  &.format-box-with-lefthand-image
    .content-box
      margin-left: -140px
      left: auto

      @include desktop
        margin-left: -170px

    @include tablet
      .content
        align-items: flex-start

      .content-box
        padding: 65px
        padding-right: 50px

    @include mobile
      .container
        padding-right: 20px

      .image
        margin: 0

        img
          left: -25px

      .with.triangle::after
        left: 65%

    @include mobile-landscape
      .image
        img
          left: 40px

  &.format-grid
    .top-left.sidetext
      padding-top: 10px

    .container
      @include desktop
        padding: 0 45px

      .title
        margin-bottom: 2em

      p
        font-size: 0.95em

    #grid.items
      margin-top: 2.8em

      article, .grid-sizer
        width: 33%
        padding-right: 40px
        padding-bottom: 40px
        min-height: 8em

        @include tablet
          padding: 10px

        @include mobile
          width: 100%
          padding: 0
          min-height: 0
          margin-bottom: 1em

        .title
          font-size: 1.15em
          line-height: 1.2em
          letter-spacing: 1px
          margin-bottom: 0.25em

          @include laptop
            font-size: 1.3em

        p
          font-size: 0.8em
          line-height: 1.75em
          margin-top: 0.4em
          letter-spacing: -0.1px

          @include laptop
            font-size: 1.05em

    .filters
      text-align: center
      margin-left: 3px

      a.initial, a.active
        display: none

  &.format-columns
    article
      text-align: left
      padding: 1em 2em
      padding-left: 2.5em

      @include tablet
        padding-left: 80px
        padding-right: 80px

      @include mobile
        padding: 1em 1.5em
        padding-left: 2em

      .image
        text-align: center
        padding: 5px
        margin-left: -0.5em

        img
          height: 160px

      .title
        font-size: 1.3em
        line-height: 1em
        margin-bottom: 0.85em

      .text
        font-size: 0.75em
        line-height: 1.85em

    article:not(.central)
      @include laptop-or-larger
        .image
          padding: 25px

        img
          height: 120px

  &.format-ancient-wisdom
    .background
      padding: 20% 0 10%

    .container
      position: relative
      max-width: 944px

      @include tablet-or-larger
        display: flex
        align-items: flex-start

      img
        @include laptop-or-larger
          width: 33.25vw
          margin-right: 11.75vw

        @include tablet
          width: 37vw
          margin-right: 4vw

      p > strong:first-child:last-child
        font-size: 1.25em
        margin-top: 1.25em
        margin-bottom: 0

      p
        color: $color-text-inverse
        font-size: 0.85em
        margin-top: 1em
        letter-spacing: 0.45px
        line-height: 1.6em
