@import "../../mixins/vars"

section.type-text
  .content
    display: flex
    flex-direction: column
    justify-content: center

    position: absolute
    left: 50%
    top: 10%
    bottom: 2%

  .content-box
    background: white
    padding: 65px 97px
    max-width: 600px
    max-height: 88%
    margin-left: -410px
    overflow: hidden

    .box.button
      margin-top: 2em

    *:first-child
      margin-top: 0

    *:last-child
      margin-bottom: 0

  .text.callout p
    margin: 0
    font-size: 1.15em
    line-height: 1.9em
    font-family: $raleway-semi
    color: $dark-gray

  .image.callout
    float: left
    margin: 40px 45px 40px -118px

section.type-text
  &.format-box-over-image
    height: 90vh

    .wrapper
      position: relative
      height: 100%

    .content-box
      max-width: 496px
      background: transparent
      padding: 35px 40px

      p
        font-size: 0.95em
        letter-spacing: -0.35px
        margin-bottom: 1.2em

      &.inverse
        border: 2px solid $color-text-inverse

        .title, p
          color: $color-text-inverse

  &.format-box-with-righthand-image,
  &.format-box-with-lefthand-image
    img
      max-width: 47.25%

  &.format-box-with-righthand-image img
    float: right

  &.format-box-with-lefthand-image .content-box
    margin-left: -140px
    padding: 65px
    left: auto

  &.format-grid
    .container
      padding: 0 58px

      .title
        margin-bottom: 2em

      p
        font-size: 0.95em

    .items
      margin-top: 2.8em

      article
        width: 33%
        padding-right: 40px
        padding-bottom: 40px
        min-height: 8em

        .title
          font-size: 1.15em
          line-height: 1.2em
          letter-spacing: 1px
          margin-bottom: 0.25em

        p
          font-size: 0.8em
          line-height: 1.75em
          margin-top: 0.4em
          letter-spacing: -0.1px

    .filters
      text-align: center
      margin-left: 3px

      a.initial, a.active
        display: none

  &.format-columns
    article
      .image
        text-align: center
        padding: 5px

        img
          height: 160px

      .title
        font-size: 1.3em
        line-height: 1em

    .owl-item:not(:nth-child(2))
      article
        .image
          padding: 25px

        img
          height: 120px

  &.format-ancient-wisdom
    .background
      padding: 20% 0 10%

    .row
      max-width: 944px
      margin: auto

    img
      width: 33.25vw
      float: left

    .content
      position: static
      padding: 0 2.25em

      > *
        color: $color-text-inverse

      p > strong:first-child:last-child
        font-size: 1.25em
        margin-top: 1.25em
        margin-bottom: 0

      p
        font-size: 0.85em
        margin-top: 1em
        letter-spacing: 0.45px
        line-height: 1.6em
