@import "../../mixins/vars"

section.type-video
  .video-preview
    .button
      background: $light-blue
      position: absolute
      top: 50%
      left: 50%
      margin-top: -27.5px
      margin-left: -44.25px
