@import "../../mixins/*"

body.application-error
  .banner
    margin-bottom: 0

  .wrapper-inner
    max-width: 400px

  .error
    &-subtitle
      font-weight: $font-normal
      font-size: 2.2rem
      line-height: 1.4545
      color: $color-text-dark
      text-align: center
      margin-bottom: 0

    &-status
      color: $color-text-lighter
      text-align: center

    &-list-title
      font-size: 1.8rem
      line-height: 1.7778

      @include tablet-or-larger
        text-align: center
        font-size: 2.8rem
        line-height: 1.15

    &-list
      @extend %generic-leaflist
      font-size: 2.2rem
      line-height: 1.1818

      @include tablet-or-larger
        margin-left: 60px

      > li
        margin: 60px 0
