@import "../../mixins/*"

body.static-page-home
  .header
    position: absolute
    top: 0
    left: 0
    right: 0

    &-banner-illustration
      top: 40px

    .desktop > .header-banner
      height: 196px
      padding-bottom: 75px

  [data-section='2']
    .with-decoration.circle:before
      @include mobile
        content: ''
        left: 86.25%
        bottom: -33.5%
        width: 400px
        height: 400px
        margin-left: -200px
        margin-bottom: -200px
        z-index: 0

        background-image: image-url('graphics/circle.svg')
        background-repeat: no-repeat
        background-position: center

      @include tablet
        content: ''
        left: 93%
        bottom: -16.5%
        width: 560px
        height: 560px
        margin-left: -280px
        margin-bottom: -280px
        z-index: 0

  [data-section='4']
    .sidetext
      @include tablet
        min-width: 285px

  [data-section='6']
    &.with-decoration.gradient:before
      @include mobile
        display: none

    .with-decoration.triangle
      @include tablet-or-larger
        @include triangle-size(0.9375, 62px)
