@import "../../mixins/*"

body.meditations-index
  .banner
    @include tablet-or-larger
      margin-top: 70px
      margin-bottom: 54px

    @include widescreen
      margin: 100px 0

  section:last-child
    margin-bottom: 58px

    @include laptop-or-larger
      margin-bottom: 196px

