@import "../../mixins/*"

body.treatments-index
  .treatments-list
    margin-top: 375px
    margin-bottom: 135px

  .treatments-item.for-music
    .treatments-item-content
      position: relative
      top: -62px

    .treatments-item-text
      min-height: 0

    .player
      margin: 48px 0

    .button-box
      margin: 0

  section.type-text
    @include laptop-or-larger
      .wrapper-inner
        max-width: 1144px

      .text-title
        font-size: 3.5rem
        margin-bottom: 44px

      .text-content
        max-width: 676px

      .text-content > p
        font-size: 1.8rem
        line-height: 1.6667
