.page-why-meditate
  margin-bottom: 120px
  .s_subtitle
    padding-left: 76px
    @media screen and (max-width: 1400px)
      font-size: 2.1rem
      height: 85px
      line-height: 85px
    @media screen and (max-width: 850px)
      padding-left: 26px
      font-size: 2rem
  figure
    margin-bottom: 0
  .article
    margin-bottom: 50px
    background: #fff
    padding: 0
    &__title
      margin-top: 32px
      margin-bottom: 10px
      font-family: $raleway-semi
      font-weight: bold
      font-size: 1.5rem
      @media screen and (max-width: 1400px)
        font-size: 1.3rem
    &__text
      p
        font-size: 1.125rem
        margin-bottom: 32px
        @media screen and (max-width: 1400px)
          font-size: 1rem
          line-height: 25px
    &__media
      position: relative
      width: 100%
      img
        width: 100%
        height: auto
      a
        transition: all .5s ease
        &:hover
          opacity: .8

  //.intro-grid
  //  .column
  //    padding-top: 0 !important
  //  .item
  //    margin: 0 25px 80px
  //    min-height: 570px
  //    padding: 0
  //    @media screen and (max-width: 1400px)
  //      min-height: 500px
  //      max-height: 500px!important
  //    @media screen and (max-width: 480px)
  //      min-height: 500px
  //      height: 500px!important
  //    .btn
  //      position: absolute
  //      bottom: 0
  //      left: 0
  //      @media screen and (max-width: 1400px)
  //        font-size: 0.875rem
  //        line-height: 0.875rem

  .loadmore
    a
      @media screen and (max-width: 1400px)
        font-size: 0.875rem
        line-height: 0.875rem


@media only screen and (max-width : 480px)
  .page-why-meditate
    figure
      margin-bottom: 40px

    .s_subtitle
      padding-left: 0
      margin-top: 25px
      text-align: center
      font-size: 35px
      line-height: 35px
      height: 115px
      &::after
        top: -43px
        left: 0

    //.intro-grid
    //  .item
    //    margin: 0 10px 80px


//@media screen and (min-width: 1300px)
//  .page-why-meditate
//    .intro-grid[data-columns]::before
//      content: '3 .column.size-1of3'
