
- content_for :title, "#{Meditation.model_name.human} - #{DurationFilter.model_name.human(count: -1)}"

= render 'admin/application_resources/index', model: DurationFilter, resources: @duration_filters, parent: Meditation
