
- content_for :title, "City: #{@city.name}"

h3 Attributes
ul
  - @city.attributes.each do |key, value|
    li #{key}: #{value}

h3 Programs
= render @city.program_venues

h3 Content
= render @city.sections
