@import "../../../mixins/*"

section.type-textbox.format-lefthand
  .text-box-overlay
    @include tablet
      position: static
      min-height: 0
      width: 100%

    @include desktop
      left: 10%

  .text-box
    @include tablet
      max-width: none
      width: auto

  .image
    margin-right: -$gutter-width

    @include tablet-or-larger
      margin-right: 0

    img
      float: right
