- require 'devise/version'

p = translate('.greeting', recipient: @resource.name)
p = translate('.instruction')

p = link_to translate('.action'), edit_password_url(@resource, reset_password_token: @token)

p = translate('.instruction_2')
p = translate('.instruction_3')
