@import "../../../mixins/*"

// TODO: This file is identical to special_sections/articles.sass - maybe we can consolidate them.

section.type-text.format-grid
  .top-left.sidetext
    padding-top: 10px

  .wrapper-outer
    @include desktop
      padding: 0 45px

  .text-title
    margin-bottom: 2em

  .text-content > p
    font-size: 0.95em

  .grid
    margin-top: 2.8em

    &-item, &-sizer
      width: 33%
      padding-right: 40px
      padding-bottom: 40px
      min-height: 8em

      @include tablet
        padding: 10px

      @include mobile
        width: 100%
        padding: 0
        min-height: 0
        margin-bottom: 1em

    &-item
      &-title
        font-size: 1.15em
        line-height: 1.2em
        letter-spacing: 1px
        margin-bottom: 0.25em

        @include laptop
          font-size: 1.3em

      &-text
        font-size: 0.8em
        line-height: 1.75em
        margin-top: 0.4em
        letter-spacing: -0.1px

        @include laptop
          font-size: 1.05em

  .filter-group
    justify-content: center
    margin-left: 3px

  .filter-button
    font-size: 0.875em
    line-height: 1em
    padding: 1.5em 2em
    min-width: 175px
    color: $color-text-dark

    &.initial, &.active
      display: none
