@import "../../../mixins/*"

section.type-structured.format-columns
  .carousel-item
    text-align: left

    > .image
      text-align: center
      padding-top: 10px
      margin-bottom: 82px

    > .image img
      min-width: 200px

  .slick-dots
    bottom: auto
    top: 212px

    li
      margin: 0

  .text-title
    font-weight: $font-semibold
    font-size: 2.4rem
    line-height: 1.25
    letter-spacing: 0.25px
    margin-bottom: 14px
    color: $color-text-dark

  .text-content > p
    font-size: 1.4rem
    line-height: 1.7858
    letter-spacing: 0.39px
    margin-bottom: 1.95em
