@import "../../mixins/vars"

body.subtle_system_nodes-show
  section.type-text.format-columns
    .carousel-item
      max-width: 520px

  section.type-text.format-box-over-image
    height: auto

    .background-wrapper
      background-position: bottom

      @include tablet-or-larger
        padding: 5% 0

    .text-box
      max-width: 484px
      padding: 60px

      .text-title
        line-height: 2em

      .text-content
        font-size: 0.9em
        line-height: 1.45em

    &.with-decoration.gradient:before
      z-index: -1
      top: -4rem
      bottom: -90vh

  section.type-text.format-ancient-wisdom:nth-last-child(2)
    @include tablet-or-larger
      margin-bottom: 0

  .with-decoration.left.gradient:before
    width: 36.5vw
    top: -4rem
    bottom: 0
