@import "../../mixins/vars"

body.articles-index
  #grid
    padding: 0 50px
    margin: auto

  article
    width: 30% // TODO: This should be 33.333%, or the grid needs to be centered
    padding: 0 20px
    margin-bottom: 50px

    img
      width: 100%

    .title
      font-size: 1em
      line-height: 1em
      margin-top: 2em
      margin-bottom: 0.5em
      font-family: $raleway-semi

    p
      font-size: 0.8em
      line-height: 1.75em
      margin-bottom: 1em

    .meta
      display: flex
      justify-content: space-between

      font-size: 0.9em
      margin-top: 2.35em

      i.icon
        margin-left: 0.5em
        font-size: 0.75em

  .loadmore
    margin-bottom: 2em
