@import "../../mixins/vars"

body.articles-index
  #grid
    position: relative
    //padding: 0 50px
    margin: auto

    .grid-sizer,
    article
      width: 100%
      box-sizing: border-box

  article
    padding: 0 2%
    margin-bottom: 3em

    .media
      &:hover
        opacity: 0.7

      img
        width: 100%

    .title
      font-size: 1em
      line-height: 1em
      margin-top: 2em
      margin-bottom: 0.5em
      font-family: $raleway-semi

    p
      font-size: 0.8em
      line-height: 1.75em
      margin-bottom: 1em

    .meta
      display: flex
      justify-content: space-between

      font-size: 0.9em
      margin-top: 2.35em

      i.icon
        margin-left: 0.5em
        font-size: 0.75em

  .loadmore
    margin-bottom: 2em

  @include desktop
    #grid
      .grid-sizer, article
        width: 25%

  @include laptop
    #grid
      .grid-sizer, article
        width: 33.3333%

  @include tablet
    #grid
      .grid-sizer, article
        width: 50%

  @include laptop-or-larger
    .grid.wrapper
      padding: 0 4%
