@import "../../mixins/functions"
@import "../../mixins/vars"

body.articles-show
  section.intro
    margin-bottom: 0

    &.banner
      min-height: 50vh
      background-position: center

      .title
        color: white
        height: 85px
        line-height: 85px
        margin-top: 5%

      .title:after
        background: linear-gradient(to right,rgba(255,255,255,0) 0,rgba(255,255,255,.18) 25%,rgba(241,212,175,.7) 100%)

  nav.chapters
    position: relative
    display: flex

    z-index: 35
    height: 82px
    margin-bottom: 84px

    background: white
    border-bottom: 1px solid #9d9d9c

    .item
      flex: 1
      display: flex
      align-items: center
      color: $color-text-light

      &:not(:last-child)
        padding-right: 30px

      .number
        margin-right: 15px
        font-size: 45px

      .title
        font-size: 12px
        line-height: 22px

      .progress
        position: absolute
        bottom: -2px
        left: 0
        height: 3px
        background-color: #8ec2bb
