@import "../../mixins/vars"

body.static-page-home
  header
    position: absolute
    top: 0
    left: 0
    right: 0

    .topline > *
      margin-bottom: 0

    .full.topline
      height: 194px
      padding-bottom: 50px

      @include desktop
        height: 173px

      @include desktop-lg
        height: 194px

      @include laptop
        height: 180px

      .logo, .action
        padding-bottom: 10px
      .illustration-wrapper
        top: 20px
      .action
        color: $color-text-inverse

  main
    width: 100%
    overflow: hidden

    > section:last-child
      margin-bottom: 0

  .sidetext
    @include desktop
      &.top-left
        padding-top: 10px

      &.top-right
        right: .2em

    @include desktop-lg
      &.top-left
        padding-top: 34px

      &.top-right
        right: 1.4em

    @include laptop-portrait
      &.top-left
        padding-top: 77px

      &.top-right
        right: 2.2em
        top: 1em

    @include tablet-or-smaller
      &.top-left
        padding-top: 35px

      &.top-right
        margin-right: 5.5%

    @include mobile
      font-size: 1.7em !important

      &.top-right
        margin-right: 1.2em

    @include mobile-landscape
      color: #c1c1c0
      font-size: 27px !important
      line-height: 27px
      letter-spacing: 2px
      &.top-left
        padding-top: 57px


  .with.gradient
    &::before
      @include tablet-or-smaller
        width: 22vw

      @include laptop
        width: 18vw

      @include desktop
        width: 31vw

      @include desktop-lg
        width: 36vw

  .with.decoration.triangle
    @include desktop-or-smaller
      &:after
        bottom: -87px

      &.left:after
        left: 30px

      &.right:after
        right: 30px
    @include laptop-landscape
      &:after
        bottom: -111px

      &.left:after
        left: -15px

      &.right:after
        right: -15px

    @include mobile
      &:after
        bottom: -35px

      &.left:after
        right: 30px
        left: auto

      &.right:after
        right: 30px
    @include mobile-landscape
      &:after
        bottom: -53vh
        right: 20vw!important


  section.type-text
    .content-box
      font-size: 1.1em

      @include laptop-landscape
        zoom: .8
        max-height: 590px

      @include mobile
        width: 100%

      .box.button
        margin-bottom: 2px
        @include desktop-lg
          margin-top: 2.4em

      .title
        @include laptop
          font-size: 1.5em

      p
        font-size: 1.025em

        @include desktop
          margin-bottom: .5em

        @include mobile-portrait
          font-size: .9em
          line-height: 1.8em
        @include mobile-portrait
          font-size: 20px
          line-height: 28px

        @include laptop
          font-size: 1.37em
        @include laptop-landscape
          font-size: 1.1em
          line-height: 1.9em
    &.format-box-with-lefthand-image,
    &.format-box-with-righthand-image
      min-height: 100vh

      img
        @include desktop
          max-width: 52.5vw

      @include laptop-portrait
        margin-bottom: 7vh

        .image
          display: flex

        .container
          display: flex
          flex-direction: column

        .content
          position: static
          margin: 0

          &-box
            max-width: 100%
            margin: 0
            @include mobile-landscape
              padding: 50px 30px

      @include tablet-or-smaller
        margin-bottom: 7vh

        .image
          display: flex

          img
            max-height: 560px

        .container
          display: flex
          flex-direction: column

        .content
          position: static
          margin: 0

          &-box
            padding: 88px 110px
            max-width: 100%
            margin: 0

      @include mobile-landscape
        .content
          &-box
            padding: 50px 30px

      @include mobile
        .content
          padding: 0 5px

        .image
          img
            max-height: 320px

        &.with.gradient::before
          content: ''
          display: block !important
          height: 100vh

    &.format-box-with-righthand-image
      .content-box
        margin-left: -493px

        @include laptop-portrait
          margin: 0

        @include tablet-or-smaller
          margin: 0

      @include desktop-or-smaller
        .image
          justify-content: flex-end

    &.format-box-with-lefthand-image
      @include laptop-portrait
        .image
          justify-content: flex-start

          &:before
            left: 102%
            bottom: -11.5%
            z-index: 0

      @include tablet-or-smaller
        .image
          justify-content: flex-start

          &:before
            left: 102%
            bottom: -11.5%
            z-index: 0

    &.format-box-over-image
      min-height: 100vh

      @include mobile-landscape
        margin-bottom: 140vh
        min-height: 100vh

      .background
        @include mobile-landscape
          background-size: cover
          background-position: center
          min-height: 100vh

      .content
        @include mobile
          padding: 0 30px
        @include mobile-landscape
          position: absolute
          top: 100vh

        &-box
          padding: 90px 100px
          width: 100%
          max-height: 550px

          @include desktop
            margin-top: 2.5em
            margin-left: 3.2%

          @include laptop-landscape
            padding: 90px 130px

          @include laptop-portrait
            margin: 0
            top: 7.5%

          @include tablet-or-smaller
            max-height: none

    &.format-grid
      background-color: $background-white

      @include laptop-landscape
        zoom: .85

      @include laptop-portrait
        margin-bottom: 0

      @include tablet-or-smaller
        margin-bottom: 0

      #grid
        color: #9d9d9c

        @include desktop-lg
          margin-top: 7.5em

        @include laptop-portrait
          height: auto !important

        @include tablet-or-smaller
          height: auto !important

        @include mobile
          margin-top: 0

        &.items .grid-sizer
          @include laptop-portrait
            min-height: auto

          @include tablet-or-smaller
            min-height: auto

        article
          padding: 20px
          font-size: 1.15em

          @include laptop-portrait
            position: static !important
            width: 100% !important
            margin-bottom: 50px
            padding: 0 110px !important

          @include tablet-or-smaller
            position: static !important
            width: 100% !important
            margin-bottom: 50px
            padding: 0 110px !important
            min-height: auto

          @include mobile
            padding: 0 5px!important
            margin-bottom: 2em

          @include mobile-landscape
            padding: 0 40px !important

        .title
          margin-bottom: 0.5em
          color: inherit

        p
          line-height: 1.8em
          color: inherit
    @include laptop-landscape
      .content
        top: 5%
        &-box
          padding: 80px 60px 80px 35px

  #sahaja-yoga
    position: relative
    z-index: 6

    @include desktop
      margin-bottom: 9vh

    @include desktop-lg
      margin-bottom: 6vh

    @include tablet-or-smaller
      margin-bottom: -1vh

    @include laptop
      margin-bottom: -12vh
    @include laptop-landscape
      margin-bottom: 9vh

    .image.with.circle.decoration::before
      @include desktop-or-smaller
        bottom: -15%
        left: 90%

      @include laptop
        bottom: -10%
      @include laptop-landscape
        left: 58%
        bottom: 10.5%
        width: 560px
        height: 560px
        margin-left: -280px
        margin-bottom: -280px

      @include tablet
        bottom: -12%
        left: 91%

      @include mobile
        background-size: 410px 410px
        background-position: 0 0
        right: 9px
        left: auto
        bottom: 51px

        height: 270px
        width: 245px

        overflow: hidden
      @include mobile-landscape
        background-size: 530px 530px
        right: 9px
        bottom: 84px

        height: 280px
        width: 280px


  #shri-mataji
    @include desktop
      margin-bottom: 30vh

    @include desktop-or-smaller
      margin-bottom: 150px
    @include laptop-landscape
      margin-bottom: 30vh

    @include mobile-portrait
      margin-bottom: 5vh
    @include mobile-landscape
      margin-bottom: 137vh


    .content
      @include laptop
        top: 11.5%
        left: 1%
      @include laptop-landscape
        top: 10%
        left: 5%

      @include tablet
        left: 5px
      @include mobile-landscape
        left: 0

      &-box
        margin-left: -25px
        max-width: 640px

        @include desktop-lg
          max-width: 700px

        @include laptop-landscape
          max-width: 680px

        @include tablet
          max-width: 510px
          margin-top: 47px
          padding: 90px 77px
        @include mobile-landscape
          max-width: 100%
          margin-top: 8px
          padding: 45px
          margin-left: -30px


  .type-video
    @include desktop
      margin-bottom: 27vh

    @include desktop-or-smaller
      margin-bottom: 9vh

    @include tablet-or-smaller
      margin-bottom: 16vh
    @include laptop-landscape
      margin-bottom: 27vh

    .wrapper
      @include mobile
        padding: 0 25px

    &.with.gradient::before
      bottom: 4%

      @include desktop
        bottom: 0

      @include desktop-lg
        bottom: 8%
      @include tablet
        width: 17vw
      @include laptop-landscape
        width: 31vw
        bottom: -6%

      @include mobile
        content: ''
        display: block !important
        top: -2%
        bottom: -10%

        height: auto
        width: 30vw

      @include mobile-landscape
        width: 22vw
        height: auto

    .container
      z-index: 9

      @include mobile
        padding: 0

    .button.video
      @include desktop
        width: 170px
        height: 170px

      @include tablet
        width: 170px
        height: 170px

    .sidetext
      @include mobile
        top: 1.5em
        font-size: 1.7em
        //right: 2.5em
      @include mobile-landscape
        &.top-right
          top: 2.5em
          right: 1.8em

  #about-us
    position: relative
    z-index: 9

    .content
      &-box
        @include laptop
          padding: 100px 110px

    &:not(.format-box-over-image)
      margin-bottom: 25vh

      @include desktop-lg
        margin-bottom: 14vh

      @include desktop-or-smaller
        margin-bottom: 100px

      @include mobile-portrait
        margin-bottom: 6vh
      @include mobile-landscape
        .image img
          left: 28px


      @include laptop-landscape
        margin-bottom: 25vh
        .content
          &-box
            @include laptop
              padding: 80px 76px
              margin-left: -170px

  #about-us.left.orange.format-box-over-image
    position: relative
    z-index: 7

    @include desktop
      margin-bottom: 30vh

    @include desktop-or-smaller
      margin-bottom: 150px

    @include mobile-portrait
      margin-bottom: 5vh
    @include laptop-landscape
      margin-bottom: 30vh


    &.with.gradient::before
      @include laptop
        bottom: -8%
      @include laptop-landscape
        width: 31vw
        bottom: -15%

      @include mobile-landscape
        content: ''
        display: block
        width: 21vw

    .background
      background-position: center top

    .content
      top: 16%

      @include desktop-lg
        top: 20%

      @include desktop
        bottom: 100px

      @include desktop-or-smaller
        justify-content: flex-end
        left: 19vw
        top: auto
        bottom: 17px

      @include laptop-landscape
        left: 10vw

      @include tablet-or-smaller
        left: 11vw


      &-box
        padding: 40px 45px
        margin-left: 2.5%
        max-width: 550px

        @include desktop-lg
          padding: 83px 100px
          margin-top: 0
          max-width: 700px

        @include desktop-or-smaller
          width: 100%
          padding: 45px 45px
          max-width: 680px
          margin-left: -15px

        @include tablet
          max-width: 550px
        @include mobile-landscape
          top: 0
          left: 90px
          max-width: 350px
          padding: 15px
          margin: 0

    p
      @include desktop-or-smaller
        margin-bottom: .5em
      @include mobile-landscape
        color: #fff
        font-size: .9em
        &:not(:first-of-type)
          display: none
    @include mobile-landscape
      .title
        color: #fff
      .box.button
        color: #fff
        border-color: #fff

  #events
    margin-bottom: 22vh

    &:before
      bottom: -12%
      height: 621px
      width: 100%

      @include desktop-lg
        bottom: 4%

      @include laptop
        bottom: -7%

      @include tablet-portrait
        height: 750px

      @include laptop-portrait
        bottom: -10%
      @include mobile-landscape
        height: 560px

    @include desktop
      margin-bottom: 22vh

    @include desktop-lg
      margin-bottom: 7vh

    @include desktop-or-smaller
      margin-bottom: 50px

    @include tablet-or-smaller
      margin-bottom: 85px

    @include mobile
      margin-bottom: 20vh
      padding-bottom: 9vh
    @include mobile-landscape
      margin-bottom: 16vh
      padding-bottom: 20vh

    @include laptop-portrait
      .content
        &-box
          background-color: transparent

      &.with.gradient.gray::before
        bottom: 0

    @include tablet-or-smaller
      .content
        &-box
          background-color: transparent

      &.with.gradient.gray::before
        bottom: 0
    @include laptop-landscape
      margin-bottom: 19vh
      padding-bottom: 5vh

  footer
    @include tablet-or-smaller
      margin-top: 2em !important
