@import "../../mixins/vars"

.container
  > h2
    font-family: $raleway-semi
    letter-spacing: 1px
    font-size: 24px // Inconsistent use of px vs rem/em
    line-height: 1.3em

  > h3
    font-family: $raleway
    color: $color-text-normal
    font-size: 24px // Inconsistent use of px vs rem/em
    line-height: 1.1667em
    margin-bottom: 1.667em

  > p
    font-size: 18px // Inconsistent use of px vs rem/em
    line-height: 1.667em
    