@import "../../mixins/vars"

body.meditations-index
  section.intro
    margin: 0

    .title
      margin-top: 1em
      margin-bottom: 6px
      font-size: 1.75em
      font-family: $raleway-bold
      line-height: 86px

      display: flex
      align-items: center
      justify-content: center

      @include desktop-lg
        font-size: 2.8125em
        line-height: 170px

      @include mobile
        font-size: 1.675em
        line-height: 1.675em
        padding: 22px 0
        margin-bottom: 0

      &:after
        width: 100%
        left: auto
        right: 50%

  footer
    margin-top: 10rem !important

    @include desktop-or-smaller
      margin-top: 3em !important

    @include tablet-or-smaller
      margin-top: 5rem !important

