@import "../../mixins/vars"

body.meditations-index
  section.intro
    margin: 0

    .title
      margin-top: 1em
      font-size: 2.8125em
      font-family: $raleway-bold
      line-height: 170px

      display: flex
      align-items: center
      justify-content: center

      @include desktop-or-smaller
        font-size: 2.2em
        line-height: 100px

      @include tablet-or-smaller
        font-size: 1.75em
        line-height: 86px
        margin-bottom: 6px

      @include mobile
        font-size: 1.675em
        line-height: 1.675em
        padding: 22px 0
        margin-bottom: 0

      &:after
        width: 100%
        left: auto
        right: 50%
