
body.meditations-show
  position: absolute
  top: 0
  bottom: 0
  left: 0
  right: 0

  .container
    padding: 15px

  .back
    display: inline-block
    width: 30px
    height: 30px
    line-height: 30px
    padding-right: 2px

    text-align: center
    background: black
    color: white

    transition: opacity 1s ease
    opacity: 0.3
    border-radius: 15px

    &:hover
      opacity: 0.85

  .plyr
    position: absolute
    bottom: 1em
    left: 1em
    right: 1em
