@import "../../mixins/vars"

body.static-page
  section
    margin-bottom: 22vh

  &.static-page-subtle-system
    section.intro
      display: none

    article
      margin-top: 3em

  &.static-page-contact
    section.intro
      display: none

    section:last-child
      @include tablet-or-larger
        margin-bottom: 0

  &.static-page-country
    section:first-child
      margin-top: 4rem
