
body.static-page
  section
    margin-bottom: 10rem

    &.intro.for-subtle-system
      .container
        display: none

  &.static-page-contact
    section.intro
      display: none

    section
      margin: 0
