@import "../../mixins/vars"

body.tracks-index
  section.intro
    margin-bottom: 50px

  .filter
    margin-right: 44px

  .instrument.filters
    .filter
      opacity: 0.4

      &.active,
      &:hover
        opacity: 0.95

    img
      height: 50px

  .playlist
    position: relative
    height: 660px
    width: 100%
    max-width: 705px
    margin-left: auto
    margin-top: 50px
    padding: 60px 0 60px 160px
    background: linear-gradient(to left,rgba(255,255,255,.01) 0,rgba(255,255,255,.18) 25%,rgba(197,224,220,.3) 100%)

    > .title
      font-size: 24px // TODO: Inconsistent use of em/rem vs px
      line-height: 1.3em
      margin-bottom: 0.7em
      letter-spacing: 1px

    #selected-filter-icons img
      height: 0.8em
      opacity: 0.5
      margin-left: 0.25em

    .cover
      position: absolute
      top: 115px
      left: -320px
      width: 385px

    .list
      position: relative
      list-style: none

    .list > *
      width: 100%
      margin-bottom: 30px
      padding-right: 150px

      .label
        display: block
        color: $color-text-dark
        font-size: 21px // TODO: Inconsistent use of px vs rem/em
        line-height: 35px

        i.icon
          width: 35px
          height: 35px
          font-size: 14px // TODO: Inconsistent use of px vs rem/em
          text-align: center

      .artist
        display: inline-block
        font-size: 12px // TODO: Inconsistent use of px vs rem/em
        line-height: 1em
        padding-left: 35px
        padding-bottom: 0.8em

        &:hover
          color: $color-text-orange

      .duration
        position: absolute
        right: 5px
        bottom: 15px

        font-family: $futura-book
        font-size: 12px // TODO: Inconsistent use of px vs rem/em
        line-height: 2.25em

      &.active
        border: 1px solid $background-blue

.plyr--full-ui
  input[type=range]
    color: $audio-light-green
    background: white

  input[type=range]::-webkit-media-slider-thumb,
  input[type=range]::-webkit-slider-thumb
    width: 10px
    height: 10px
    border-radius: 0
    border: 0
    background: $audio-light-green
    -webkit-transition: background .2s ease,border .2s ease,-webkit-transform .2s ease
    transition: background .2s ease,border .2s ease,-webkit-transform .2s ease
    -o-transition: background .2s ease,border .2s ease,transform .2s ease
    -webkit-box-shadow: 0 1px 1px $audio-gray, 0 0 0 1px $audio-gray
    box-shadow: 0 1px 1px $audio-gray,0 0 0 1px $audio-gray
    -webkit-box-sizing: border-box
    box-sizing: border-box
    cursor: pointer

  input[type=range]::-webkit-slider-runnable-track
    background: linear-gradient(to right, $audio-light-green 0%, $audio-light-green 100%, $audio-light-gray 100%, $audio-light-gray 100%, $audio-light-gray 100%, $audio-light-gray 100%)
    border: 0
    border-radius: 0
    height: 3px
    transition: all .3s ease
    -webkit-user-select: none
    user-select: none

.plyr--audio
  .plyr__control
    svg
      width: 13px

  .plyr__control.plyr__tab-focus,
  .plyr__control:hover,
  .plyr__control[aria-expanded=true]
    background: #FFFFFF
    color: $audio-light-green

  .plyr__progress
    margin-right: 10px

.song-title
  font-size: 25px
  line-height: 29px
  color: $audio-text-dark

.song-artist
  font-size: 18px
  line-height: 29px
  color: $audio-text-normal

.plyr__controls
  padding-bottom: 0 !important
