@import "../../mixins/vars"

body.tracks-index
  section.intro
    margin-bottom: 50px

  section
    margin-bottom: 4rem

  #tracks-triangle::after
    bottom: auto
    right: 10.5%
    top: -120px
    zoom: 0.875

  .container
    > h2
      font-size: 1.4em
      line-height: 1em

    > h3
      margin-top: 2em

  .filters
    margin-left: 3px

    @include tablet-or-smaller
      text-align: center

    .filter
      margin-right: 44px

      @include tablet-or-smaller
        margin: 10px 22px

    &.instrument
      @include mobile
        display: flex
        justify-content: space-around

      .filter
        opacity: 0.4
        margin: 0 30px

        @include mobile
          margin: 0 5px

        &.active,
        &:hover
          opacity: 0.95

      img
        height: 45px

  .player
    margin-top: 3em

    .current-info
      margin-left: 15px

    .plyr__controls .extra
      @include mobile
        display: none

    #track-player-title
      font-size: 1.5em
      line-height: 1.3em
      letter-spacing: -1px
      color: $color-text-darker

    #track-player-artist
      font-size: 1em
      line-height: 1em
      margin-left: 1px
      color: $color-text-normal

  .playlist
    position: relative
    //max-height: 660px
    min-height: 460px
    width: 100%
    max-width: 638px
    margin-left: auto
    margin-top: 88px
    padding: 50px 0 60px 144px
    background: linear-gradient(to left,rgba(255,255,255,.01) 0,rgba(255,255,255,.18) 25%,rgba(197,224,220,.3) 100%)

    @include tablet
      margin: auto
      max-width: 766px

    @include tablet-or-smaller
      margin-top: 50px
      padding: 50px
      min-height: 0

    @include mobile
      background: none
      padding: 0

    > .title
      font-size: 1.5em
      line-height: 1.5em
      margin-bottom: 0.4em
      letter-spacing: 1px

      @include mobile
        font-size: 1.375em
        margin-bottom: 0.75em

    #selected-filter-icons img
      height: 0.8em
      opacity: 0.5
      margin-left: 0.25em

    .cover
      position: absolute
      top: 102px
      left: -288px
      width: 348px

      @include tablet-or-smaller
        display: none

    #track-mood-title
      position: absolute
      color: $color-text-normal
      letter-spacing: 2px
      margin-top: 5px
      font-size: 2em
      margin-right: 390px

    .list
      position: relative
      list-style: none

      @include tablet
        max-width: 540px

    .list > *
      width: 100%
      margin-bottom: 28px
      padding-right: 150px

      .label
        display: block
        color: $color-text-dark
        font-size: 1.2em
        line-height: 1.5em

        i.icon
          width: 35px
          font-size: 0.6em
          text-align: center

      .artist
        display: block
        font-size: 0.7em
        line-height: 0.8em
        padding-left: 35px
        padding-bottom: 1em

        &:hover
          color: $color-text-orange

      .duration
        position: absolute
        right: 7px
        bottom: 12px

        font-family: $futura-book
        font-size: 0.7em
        line-height: 2.25em

      &.active
        border: 1px solid $background-blue
