@import "../../mixins/vars"

body.treatments-index
  main > .container.with.right.triangle.decoration::after
    zoom: 0.875
    right: 5.75%

.treatments.wrapper
  max-width: 895px
  margin-bottom: 135px
  padding-top: 2px

  @include tablet
    padding-left: 30px
    padding-right: 30px

  article
    position: relative
    margin-top: 150px

    display: flex
    flex-basis: 100%
    flex-wrap: nowrap
    align-items: flex-start

    @include tablet-or-smaller
      flex-direction: column !important

    &.reverse
      flex-direction: row-reverse

      img
        @include tablet-or-smaller
          align-self: flex-end

    img
      width: 360px
      max-width: 100%
      align-self: flex-start

      @include tablet
        max-width: 50%

    > .clearfix
      display: none

    .content
      margin-top: 65px

      @include tablet-or-smaller
        margin-top: 30px
        max-width: 360px

      .title
        margin-bottom: 0.7em
        line-height: 1em

      p
        font-size: 1.1em
        line-height: 1.55em

      .button
        margin-top: 1.75em
        padding: 1.4em

    .number
      position: absolute
      top: -70px

      color: $color-text-lightest
      font-size: 2em
      font-family: $raleway
      font-weight: 200

    &:after
      display: block
      content: ''

      position: absolute
      top: -106px

      height: 210px
      width: 722px
      opacity: 0.5
      z-index: -1

    &:nth-child(even)
      .image
        margin-left: 87px

        @include tablet-or-smaller
          margin-left: 40px

      .number
        right: 0

      &:after
        right: -466px
        background: linear-gradient(to left,rgba(255,255,255,0) 0,rgba(255,255,255,.18) 25%,rgba(241,212,175,.7) 100%)

    &:nth-child(odd)
      .image
        margin-right: 87px

        @include tablet-or-smaller
          margin-right: 40px

      .content
        margin-right: 30px

      .number
        left: 0

      &:after
        left: -466px
        background: linear-gradient(to right,rgba(255,255,255,.01) 0,rgba(255,255,255,.18) 25%,rgba(197,224,220,.3) 100%)
