@import "../../../mixins/vars"

section.type-special.format-featured-meditations
  padding: 20px 0
  margin-bottom: 0

  @include desktop
    padding-top: 50px

  .preview
    display: inline-block
    width: 33.33%
    padding: 0 15px
    margin-bottom: 50px

    &-text
      margin-top: 0

  /*.video
    &-preview
      display: block
      padding-top: 57%
      position: relative
      overflow: hidden
      background-size: cover
      margin-bottom: 13px

      @include laptop
        margin-bottom: 18px

      @include desktop
        margin-bottom: 25px

    &-button
      width: 110px
      height: 110px
      padding: 22px

      @include  desktop
        width: 148px
        height: 148px
        padding: 32px*/

  .slick-dots
    bottom: -10px

    li
      button::before
        opacity: 0.5
        font-size: 12px

      &.slick-active button::before
        opacity: 1
        color: $color-text-blue
