@import "../../../mixins/vars"

section.type-special.format-treatments
  .treatments
    &-item
      padding: 0 28px

      @include laptop-or-larger
        padding: 0 55px

      &.reverse
        padding-right: 0

      &:after
        display: none

      > .image
        min-width: 400px
        width: 400px

      &-title
        margin-bottom: 0.5em

      &-text
        font-size: 1em
        line-height: 1.7em

  .filter-group
    justify-content: center
    margin: 100px 0
    margin-left: 3px

  .filter-button
    font-size: 0.875em
    line-height: 1em
    padding: 1.5em 2em
    min-width: 175px
    color: $color-text-dark

    &.initial, &.active
      display: none
