@import "../../../mixins/vars"

section.type-special.format-try-meditation
  margin-bottom: 220px

  .realization
    &-image
      max-width: 45.75%

    &-action
      position: absolute
      top: 30px
      left: 72.25%
      margin-left: -140px

      @include tablet-or-smaller
        top: -30px
        margin-top: 5%
        zoom: 0.9

      @include mobile
        top: -60px

    &-content
      text-align: center
      position: absolute
      bottom: -150px
      left: 0
      right: 0

      @include laptop-or-larger
        bottom: 75px
        padding-left: 45.75%

      // Added a gradient
      &:before
        content: ''
        display: block
        position: absolute
        top: -10px
        bottom: -10px
        left: 0
        right: 0
        z-index: -1
        width: 100%
        background: linear-gradient(to right,rgba(232,232,232,.5) 0,rgba(255,255,255,.01) 100%)

        @include laptop-or-larger
          top: auto
          bottom: -178px
          height: 368px

    &-title, &-subtitle
      margin-top: 0
      margin-bottom: 0.6em
      font-size: 1.45em
      font-family: $raleway-bold

    &-title
      margin-bottom: 0.15em

  .video-button
    position: absolute
    margin-left: -80px
    left: 45.75%
    bottom: -32px

    @include tablet-or-smaller
      position: static
      margin: 0
