@import "../../../mixins/vars"

section.type-special.format-world
  padding-top: 1em
  min-height: 330px

  @include tablet
    min-height: 462px

  @include laptop-or-larger
    min-height: 660px

  .wrapper
    padding-top: 12%
    text-align: center

  .map
    position: absolute
    right: 0
    left: 0
    z-index: -1
    text-align: center

    @include laptop-or-larger
      text-align: left

    svg
      opacity: 0.75

      @include mobile
        zoom: 0.5
        margin-top: 12vh
        margin-left: -20px

      @include tablet
        zoom: 0.7
        margin-top: 6vh
        margin-left: -60px

    &-action:not(.static)
      bottom: -40%
