
section.type-action
  &.format-button
    text-align: center

    &.with-decoration.gradient
      &:before
        width: auto
        bottom: -100%

      &.right::before
        left: 50%

      &.left::before
        right: 50%

    .button
      &-box,
      &-circle
        margin: 2.45em 0

      &-circle
        width: 300px
        height: 300px

        &-text
          font-size: 1.8em
          line-height: 1.25em

