
#grid > .article
  width: 25%
  padding: 0 10px
  margin-bottom: 50px

.article_main
  max-height: 70%
  
  &:not(.article_inversion)
    padding: 0 !important // Override the padding that is defined in the legacy CSS, and replace it with border
    border-style: solid
    border-color: white
    border-width: 100px 110px

    @media only screen and (max-width: 1200px)
      border-width: 65px
