@import "../../mixins/vars"

.carousel.slick-slider
  max-width: 1000px
  width: 100%
  margin: auto
  text-align: center

  img
    margin: auto

  .slick-arrow
    transition: all 0.5s ease
    z-index: 10

    &::before
      color: $color-text-normal
      font-family: $wemeditate-icons
      font-size: 24px
      opacity: 1

    &.slick-prev
      left: 0

      &::before
        content: $icon-arrow-left

    &.slick-next
      right: 0

      &::before
        content: $icon-arrow-right

  &.video
    .slick-list
      overflow: visible

    .slick-slide
      .video.wrapper
        max-width: 680px
        padding: 10px

      &:not(.slick-active)
        .button, .title
          opacity: 0
          visibility: hidden

    .slick-arrow
      @include tablet-or-larger
        background: #999
        width: 60px
        height: 60px
        margin-top: -30px

        &::before
          color: white

        &.slick-prev
          margin-left: 30px

        &.slick-next
          margin-right: 30px

        &:hover
          background: gray

      @include mobile
        width: 35px
        height: auto
        line-height: 100%
        top: 0
        bottom: 0
        background: white

        &.slick-prev
          left: -35px

        &.slick-next
          right: -35px
