@import "../../mixins/device_media"
@import "../../mixins/vars"

.container
  position: relative
  max-width: 1156px
  margin: 0 auto
  padding: 0 15px

  &:after
    content: ''
    display: block
    clear: both

.wrapper
  width: 100%
  margin: auto

  &.section
    max-width: 746px

  &.video
    max-width: 554px
