@import "../../mixins/functions"
@import "../../mixins/vars"

.with.decoration
  &.triangle
    &::after
      content: ''
      display: block

      position: absolute
      @include triangle-size(1)

      background: image-url('graphics/triangle.svg') no-repeat center
      background-size: cover
      z-index: 10

      @include desktop
        @include triangle-size(1.25)

      @include tablet
        @include triangle-size(0.7)

      @include mobile
        @include triangle-size(0.3415)

    &.right::after
      right: 5px

    &.left::after
      left: 5px

  &.leaf
    &::before,
    &::after
      content: ''

      padding: 20px 0
      display: inline-block
      font-size: 1.8em
      width: 0.9em
      height: 1em

      background-color: white
      background-image: image-url('graphics/leaf.svg')
      background-repeat: no-repeat
      background-position: center

      transform-origin: center

    &::before
      transform: rotate(90deg)

    &::after
      transform: rotate(-90deg)

  &.circle
    &::before
      content: ''
      display: block
      width: 300px
      height: 300px
      background-image: image-url('graphics/circle.svg')
      background-repeat: no-repeat
      background-position: center

.illustration.divider
  max-width: 400px
  width: 100%
  margin: auto
  background-color: #aaaaa9
  height: 1px
  border: none
  position: relative

  &::after
    content: ''
    position: absolute
    left: 50%
    top: 2px

    padding: 0 20px
    display: block
    font-size: 1.8em
    width: 0.9em
    height: 1em

    background-color: white
    background-image: image-url('graphics/leaf.svg')
    background-repeat: no-repeat
    background-position: center

    transform-origin: center
    transform: translateX(-50%) translateY(-100%)

  &.post:after
    top: -2px
    transform-origin: center
    transform: rotate(180deg) translateX(50%)

  &.simple
    height: 0

    &:after
      background-color: transparent

.with.gradient
  &::before
    content: ''
    display: block

    position: absolute
    z-index: -10
    top: -50%
    bottom: -10%

    @include mobile
      display: none

    @include tablet-or-smaller
      width: 22vw

    @include laptop
      width: 27.9vw

    @include desktop
      width: 36vw

  &.right::before
    right: 0

  &.left::before
    left: 0

  &.left, &.right
    &.half::before
      top: 0
      bottom: 0
      width: auto
      z-index: 0
      display: block !important

  &.half.left::before
    right: 50%

  &.half.right::before
    left: 50%

  &.orange::before
    opacity: 0.5

  &.gray::before
    top: auto
    bottom: -12%
    height: 75vh
    width: 100%

  &.right.blue::before
    background: linear-gradient(to left,rgba(255,255,255,.01) 0,rgba(255,255,255,.18) 25%,rgba(197,224,220,.3) 100%)

  &.left.blue::before
    background: linear-gradient(to right,rgba(255,255,255,.01) 0,rgba(255,255,255,.18) 25%,rgba(197,224,220,.3) 100%)

  &.right.orange::before
    background: linear-gradient(to left,rgba(255,255,255,0) 0,rgba(255,255,255,.18) 25%,rgba(241,212,175,.7) 100%)

  &.left.orange::before
    background: linear-gradient(to right,rgba(255,255,255,0) 0,rgba(255,255,255,.18) 25%,rgba(241,212,175,.7) 100%)

  &.gray::before
    background: linear-gradient(to left,rgba(232,232,232,.5) 0,rgba(255,255,255,.01) 100%)

  &.left.gray::before
    background: linear-gradient(to right,rgba(232,232,232,.5) 0,rgba(255,255,255,.01) 100%)

