
/* GRID ANIMATIONS
  This adds basic CSS animations for grid items.
  */
/*
  .js-grid > *
    opacity: 0
    transform: translateY(15px)

  .js-grid > [data-macy-complete="1"]
    opacity: 1
    transform: translateY(0)
    transition: all 0.2s ease-in-out
    */
